In [ ]:
import pandas as pd
import numpy as np

from datetime import date, datetime
import time 

from sqlalchemy import create_engine, text
import psycopg2

import json
import requests
from bs4 import BeautifulSoup
import re

import matplotlib.pyplot as plt
from catboost import CatBoostRegressor

In [ ]:


conn = psycopg2.connect(
    host="localhost",
    port=5432, # your server hostname
    database="cars",     # your database name
    user="postgres",   # your database username
    password="p33Gritz!!" # your database password
)

In [ ]:
cats = ['ABS',
 'Trim2',
 'ESC',
 'SteeringLocation',
 'BatteryInfo',
 'DaytimeRunningLight',
 'PedestrianAutomaticEmergencyBraking',
 'TransmissionStyle',
 'WheelBaseType',
 'Trim',
 'ChargerLevel',
 'AutomaticPedestrianAlertingSound',
 'TractionControl',
 'AirBagLocFront',
 'Pretensioner',
 'TransmissionSpeeds',
 'AdaptiveDrivingBeam',
 'Model',
 'BlindSpotMon',
 'EntertainmentSystem',
 'BodyCabType',
 'FuelTypeSecondary',
 'LaneDepartureWarning',
 'TPMS',
 'Seats',
 'FuelInjectionType',
 'EDR',
 'LowerBeamHeadlampLightSource',
 'ParkAssist',
 'AirBagLocCurtain',
 'RearAutomaticEmergencyBraking',
 'RearCrossTrafficAlert',
 'SemiautomaticHeadlampBeamSwitching',
 'CIB',
 'AirBagLocSide',
 'BrakeSystemDesc',
 'KeylessIgnition',
 'EngineConfiguration',
 'AirBagLocKnee',
 'RearVisibilitySystem',
 'VehicleType',
 'AdaptiveCruiseControl',
 'AirBagLocSeatCushion',
 'BlindSpotIntervention',
 'ForwardCollisionWarning',
 'SeatRows',
 'BatteryType',
 'LaneKeepSystem',
 'GVWR',
 'ElectrificationLevel',
 'DynamicBrakeSupport',
 'LaneCenteringAssistance',
 'BedType',
 'BrakeSystemType',
 'Series2',
 'CoolingType',
 'Doors',
 'EngineCylinders',
 'CAN_AACN',
 'Turbo',
 'BodyClass',
 'DriveType',
 'ValveTrainDesign',
 'FuelTypePrimary',
 'Make',
 'AutoReverseSystem',
 'EVDriveUnit',
 'Series',
 'SeatBeltsAll',
 'PlantCity',
 'PlantCountry',
 'PlantState',
 'Note',
 'OtherEngineInfo',
 'GVWR_to',
 'EngineModel',
 'DestinationMarket',
 'ActiveSafetySysNote',
 'state',
 'region',
 'condition',
'paint_color']

nums =  ['ModelYear',
 'WheelSizeRear',
 'BasePrice',
 'WheelSizeFront',
 'CurbWeightLB',
 'WheelBaseShort',
 'WheelBaseLong',
 'BatteryPacks',
 'SAEAutomationLevel',
 'odometer',
 'EngineHP',
 'TopSpeedMPH',
 'TrackWidth',
 'ChargerPowerKW',
 'EngineKW',
 'EngineHP_to',
 'BatteryKWh',
 'BedLengthIN',
 'BatteryV',
 'DisplacementCC',
 'Wheels',
 'Windows',
 'days_since',
 'state_income']

def model_prep(df2):
    df2[cats] = df2[cats].astype(str)
    df2[nums] = df2[nums].astype('float64')
    return df2

In [ ]:
cur = conn.cursor()

reg_ref = pd.read_sql(''' SELECT * FROM region_reference;''', conn,index_col='id')

In [ ]:
reg_ref

In [ ]:
#car_data = pd.read_sql(''' SELECT * FROM car_data;''', conn,index_col='id')
#car_data

In [ ]:
#new_data = pd.read_csv('df_copy.csv',index_col=[0], dtype={'EngineCylinders': str})

In [ ]:
conn = psycopg2.connect(
    host="localhost",
    port=5432, # your server hostname
    database="cars",     # your database name
    user="postgres",   # your database username
    password="p33Gritz!!" # your database password
)

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:p33Gritz!!@localhost:5432/cars')
new_data.to_sql('car_data_latest', engine, index=True, index_label='id', if_exists='replace')

In [ ]:
# Procedure

new_vins = load up 'vins_accepted' + datestr
Drop duplicates on ['VIN']

new_listings = load up 'listings_accepted' + datestr
drop duplicates on ['VIN']

new_links = pd.read_sql('links_accepted' + datestr, engine)

links_listing_merge = pd.merge(new_listings, new_links, on='link', how='left')

f_df = model_prep(posting_date(pd.merge(new_vins.drop_duplicates(subset=['VIN']), links_listing_merge.drop_duplicates(subset=['VIN']), on='VIN', how='left')))

In [ ]:
new_data = pd.read_sql('good_vin_2024_10_28', engine)
new_data

In [ ]:
new_data.drop_duplicates(subset=['VIN'])

In [ ]:
new_data[new_data.VIN.isin(new_listing_df.VIN)]

In [ ]:
new_listing_df = pd.read_sql('new_listings_2024_10_28', engine)
new_listing_df

In [ ]:
list_df = new_listing_df.drop_duplicates(subset=['VIN'])
list_df

In [ ]:
links_listing_merge = pd.merge(list_df, new_links_df, on='link', how='left')
links_listing_merge

In [ ]:
links_listing_merge.link.is_unique

In [ ]:
f_df = posting_date(pd.merge(new_data.drop_duplicates(subset=['VIN']), links_listing_merge.drop_duplicates(subset=['VIN']), on='VIN', how='left'))

In [ ]:
f_df.days_since

In [ ]:
new_links_df = pd.read_sql('new_links_2024_10_28', engine)
new_links_df

In [ ]:
modern_data['link'].is_unique

In [ ]:
reg_ref

In [ ]:
'''
def create_table_from_dataframe(df, final_table_name, dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432', use_sqlalchemy=True):

    if use_sqlalchemy:
        # Using SQLAlchemy
        engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
        with engine.connect() as connection:
            # Create the table in the SQL database
            df.to_sql(final_table_name, con=connection, if_exists='replace', index=False)
            print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")
    else:
        # Using psycopg2
        conn = psycopg2.connect(
            dbname=dbname,
            user=user,
            password=password,
            host=host,
            port=port
        )
        cur = conn.cursor()
        try:
            # Create the table using raw SQL
            # First, create the SQL command based on DataFrame columns
            columns = ", ".join([f"{col} TEXT" for col in df.columns])  # Use TEXT for simplicity, adjust as needed
            create_table_query = f"CREATE TABLE {final_table_name} ({columns});"
            cur.execute(create_table_query)
            conn.commit()

            # Insert DataFrame data into the new table
            for index, row in df.iterrows():
                insert_query = f"INSERT INTO {final_table_name} VALUES ({', '.join(['%s'] * len(row))});"
                cur.execute(insert_query, tuple(row))

            conn.commit()
            print(f"Table '{final_table_name}' created successfully using psycopg2.")
        except Exception as e:
            conn.rollback()  # Rollback in case of error
            print(f"Error occurred: {e}")
        finally:
            cur.close()
            conn.close()
'''

def df_to_table(df, final_table_name, engine, exist = 'replace'):
    with engine.connect() as connection:
        df.to_sql(final_table_name, con=connection, if_exists=exist, index=False)
        print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")

In [ ]:
def sort_links(backup_df, scraped_links, engine, datestr, exist='replace'):
    
    #link_df = pd.read_sql(link_table, engine)
    #backup_df = pd.read_sql(backup_table, engine)
    
    repeat_mask = scraped_links.link.isin(backup_df.link)
    
    need_these = clean_mask_price(scraped_links[~repeat_mask], 4000, 110000) 
    repeats = scraped_links[repeat_mask]

    df_to_table(need_these, 'new_links' + datestr, engine, exist)
    print('new_links' + datestr + ' created')
    df_to_table(repeats, 'repeat_links' + datestr, engine, exist)
    print('repeat_links' + datestr + ' created')

In [ ]:
def clean_mask_price(df, mini, maxi):
    if df['price'].dtype == 'object':
        df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(float)
    return df[(df['price'] > mini) & (df['price'] < maxi)]

In [ ]:
def part_one(main_data, datestr, reg_ref = 'region_reference', 
            dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432'):
    
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    
    # backup table : main_data + datestr
    old_df = backup_table(main_data, datestr, dbname=dbname, user=user, password=password, host=host, port=port, use_sqlalchemy=True)
    
    # creates SQL tables
    # 'repeat_links_' + datestr
    # 'new_links_' + datestr
    
    scraped_links = pd.concat(scrape_regions(reg_ref))
    sort_links(old_df, scraped_links, engine, datestr)

In [ ]:
def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(0.5)
        
    return dfls

In [ ]:
def do_everything(main_data, datestr, reg_ref = 'region_reference', 
            dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432'):
    
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    old_df = backup_table(main_data, datestr, dbname=dbname, user=user, password=password, host=host, port=port, use_sqlalchemy=True)
    
    # 'repeat_links_' + datestr
    # 'new_links_' + datestr
    
    scraped_links = pd.concat(scrape_regions(reg_ref))
    sort_links(old_df, scraped_links, engine, datestr)
    
    # creates 'good_vin_', 'bad_vin_', 'new_listings_', 'reject_listings_'
    scrape_listings('new_links' + datestr, 'new_listings' + datestr, 'reject_listings' + datestr)
    
    good_vin_df = pd.read_sql('good_vin_' + datestr, engine)
    new_listing_df = pd.read_sql('new_listings_' + datestr, engine)
    reg_ref_df = pd.read_sql(region_reference, engine)
    new_link_df = pd.read_sql('new_links' + datestr, engine)
    
    vin_plus = pd.merge(good_vin_df, new_listing_df)
    f_df = model_prep(posting_date(pd.merge(vin_plus, need_these, on='link',how='left')))
    
    df = pd.concat([model_prep(old_df), f_df])
    
    df.to_sql(main_data, engine)
    
    cbm = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=10, silent=True)
    mod_name = 'cb_model_' + datestr + '.cbm'
    cbm.fit(df[cats+nums], df['price'])

In [ ]:
pd.read_sql('new_links_2024_10_28', engine)

In [ ]:
sort_links(modern_data, scraped_links, engine, '_2024_10_28')

In [ ]:
modern_data

In [ ]:
#f_df = posting_date(pd.merge(new_data, links_listing_merge.drop_duplicates(subset=['VIN']), on='VIN', how='left'))

In [ ]:
[x for x in old_data.columns.tolist() if x not in f_df.columns.tolist()]

In [ ]:
old_data = pd.read_sql('car_data', engine)

In [ ]:
n_d = old_data.drop_duplicates(subset=['VIN'])

In [ ]:
n_d.link.value_counts(dropna=False)

In [ ]:
n_d[n_d.link.notna()].to_sql('modern_car_data', engine)

In [ ]:
modern_data.link.is_unique

In [ ]:
new_links_df[~new_links_df.link.isin(modern_data.link)]

In [ ]:
modern_data = n_d[n_d.link.notna()]

In [ ]:
old_data2 = model_prep(modern_data)
df1 = model_prep(f_df)

In [ ]:
cb_m = CatBoostRegressor()

cb_m.load_model('cb_model_latest.cbm')

In [ ]:
def concat_retrain_update(old_data, good_vin, new_listings, new_links, datestr, cats=cats, nums=nums):
    
    vin_plus = pd.merge(good_vin, new_listings)
    f_df = model_prep(posting_date(pd.merge(vin_plus, new_links, on='link', how='left')))
    
    df = pd.concat([model_prep(old_data), f_df])
    
    cbm = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=10, silent=True)
    
    mod_name = 'cb_model_' + datestr + '.cbm'

    cbm.fit(df[cats+nums], df['price'])
    
    cbm.save_model(mod_name)
    print(f"Model saved as '{mod_name}'.")
    
    
    '''
    cols_needed = [x for x in old_data.columns.tolist() if x not in f_df.columns.tolist()]
    
    if len(cols_needed) != 1:
        print(cols_needed)
        print('error: old predictions not in ' + good_vin)    
    '''

In [ ]:
df1.VIN.is_unique

In [ ]:
f_data = pd.concat([df1, old_data2])
f_data

In [ ]:
f_data[f_data.VIN.duplicated()][['Make','Model','ModelYear', 'odometer','price']]

In [ ]:
f_data.link.value_counts()

In [ ]:
new_links_df[~new_links_df.link.isin(old_data2.link)]

In [ ]:
df1 = model_prep(f_df)

In [ ]:
[x for x in cats+nums if x not in feature_names]

In [ ]:
feature_names = cb_m.feature_names_
print("Feature names:", feature_names)

In [ ]:
y_pred2 = cb_m.predict(old_data2[feature_names])
y_pred = cb_m.predict(df1[feature_names])

In [ ]:
df1['pred_2024_10_22'] = y_pred

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming df1['price'] holds the actual values and y_pred holds the predictions
rmse = np.sqrt(mean_squared_error(old_data2['price'], y_pred2))
print(f"RMSE: {rmse}")

In [ ]:
cb_m

In [ ]:
new_df

In [ ]:
new_df.VIN.value_counts(dropna=False)

In [ ]:
idk = new_df.drop_duplicates(subset=['VIN'])

In [ ]:
idk.drop_duplicates(subset=['link'])

In [ ]:
new_df[new_df.link.notna()]['link'].duplicated()

In [ ]:
new_df = pd.concat([old_data, df1])

In [ ]:
new_df.to_sql('car_data', engine, index=False)

In [ ]:
old_data.VIN.value_counts()

In [ ]:
def backup_table(table, datestr, dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432', use_sqlalchemy=True):
   
    backup_table_name = table + datestr
    
    if use_sqlalchemy:
        # Using SQLAlchemy
        engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
        with engine.connect() as connection:
            with connection.begin():  # Begin a transaction
                # Rename the table
                connection.execute(text(f"ALTER TABLE {table} RENAME TO {backup_table_name}"))
                print(f"Table '{table}' renamed to '{backup_table_name}' using SQLAlchemy.")
                
                # Retrieve the backup table as a DataFrame
                df = pd.read_sql(text(f"SELECT * FROM {backup_table_name}"), connection)
                return df  # Return the DataFrame

    else:
        # Using psycopg2
        conn = psycopg2.connect(
            dbname=dbname,
            user=user,
            password=password,
            host=host,
            port=port
        )
        cur = conn.cursor()
        try:
            # Rename the table
            cur.execute(f"ALTER TABLE {table} RENAME TO {backup_table_name}")
            conn.commit()  # Commit the transaction
            print(f"Table '{table}' renamed to '{backup_table_name}' using psycopg2.")
            
            # Retrieve the backup table as a DataFrame
            df = pd.read_sql(f"SELECT * FROM {backup_table_name}", conn)
            return df  # Return the DataFrame
            
        except Exception as e:
            conn.rollback()  # Rollback in case of error
            print(f"Error occurred: {e}")
        finally:
            cur.close()
            conn.close()

In [ ]:
backup_data = pd.read_csv('df_copy.csv', index_col=[0], dtype={'EngineCylinders': str})

In [ ]:
backup_data.VIN.value_counts()

In [ ]:
backup_data[backup_data.link.notna()]['link'].is_unique

In [ ]:
good_backup = backup_data.drop_duplicates(subset=['VIN'])

In [ ]:
maybe_f[maybe_f.VIN == 'WAU8EAF86KN024927'][['Make','Model','ModelYear', 'odometer','price', 'link', 'days_since']]

In [ ]:
ithinkfinal.to_sql('car_data', engine, if_exists='replace', index=False)

In [ ]:
maybe_f = pd.concat([good_backup, df1])

In [ ]:
good_backup.VIN.value_counts()

In [ ]:
merged_df = pd.merge(df1, good_backup, on='VIN', suffixes=('_df1', '_df2'))

# Filter where VIN is equal but days_since is not equal
result_df = merged_df[merged_df['days_since_df1'] != merged_df['days_since_df2']]
result_df[['days_since_df1', 'days_since_df2', 'price_df1','price_df2']]

In [ ]:
df1[df1['VIN'] == good_backup['VIN']]

In [ ]:
df1[df1['VIN'].isin(good_backup['VIN'])]

In [ ]:
maybe_f

In [ ]:
ithinkfinal = maybe_f.drop_duplicates(subset=['VIN'])

In [ ]:
ithinkfinal

In [ ]:
maybe_f.VIN.value_counts()

In [ ]:
backup_table = backup_table('car_data_latest', date.today())

In [ ]:
todays_date = str(date.today()).replace('-','_')
todays_date

In [ ]:
#scraped_links = pd.concat(scrape_regions(reg_ref))

# SAve BACKUP to SQL psycopg2 etc..

# df = reg_ref
# all_links = car_data_latest

def full_scrape_merge(reg_ref, car_data_latest, model=cb_latest, datetime=date.today()):
    
(SCRAPE)    scraped_links = pd.concat(scrape_regions(reg_ref))
    
1   # SAVE TO SQL 
    
(SAVE)    'scraped_links_' + date.strftime, today
    
(CLEAN)    scraped_links = scraped_links.drop_duplicates(subset='link')
    
    repeat_mask = scraped_links['link'].isin(car_data_latest['link'])
    need_df = clean_mask_price(scraped_links[~repeat_mask])
    
(MERGE)    new_links = pd.merge(need_df, reg_ref[['region_url','state','state_income','region']], on='region_url', how='left')
    
(SCRAPE) listing_df = scrape_listings(new_links)

2   ### SAVE TO SQL 

(SAVE)    'new_listings_' + date.strftime, today
    
(CLEAN)    clean_listings = clean_listing_output(listing_df)
    
(MERGE)   merged_listing_links = pd.merge(clean_listings, new_links, on='link', how='left')

(SCRAPE) vin_output_df = mass_decode(merged_listing_links)

(SAVE) 'new_vin_output_' + date.strftime, today

(CLEAN) cleaned_vin = clean_vin_output(vin_output_df)

(MERGE) f_df = pd.merge(cleaned_vin, merged_listing_links, on='VIN', how='left')

(SAVE OLD VERSIONS) 

    car_data_latest = 'car_data_backup_' + date.strftime, today
    cb_latest = 'cb_model_backup_' + datestrftime, today

(NEW DATA, NEW MODEL)

new_car_data = pd.concat([f_df,car_data_latest])




    return

In [ ]:
#df2 = pd.read_csv('no_repeats_fixed_cylinders.csv', index_col=[0], dtype={'EngineCylinders': str})

# Step 1: Generate Links by Region

In [ ]:
reg_ref = pd.read_csv('reg_ref_df.csv',index_col=[0])
reg_ref

In [ ]:
import pandas as pd
import requests

def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(1)
        
    return dfls

In [ ]:
scraped_links = pd.concat(scrape_regions(reg_ref))

In [ ]:
scraped_links

In [ ]:
# Scrape Page 1 Every Week

from bs4 import BeautifulSoup
import time 

def df_from_link(link):
    response=requests.get(link)

    soup = BeautifulSoup(response.text, 'html.parser')

    # Finding all listing elements with class 'cl-static-search-result'
    listings = soup.find_all('li', class_='cl-static-search-result')

    # Preparing lists to store the data
    links = []
    prices = []
    locations = []

    # Loop through each listing and extract the required data
    for listing in listings:
        # Extracting link
        link_tag = listing.find('a', href=True)
        link = link_tag['href'] if link_tag else 'No link'

        # Extracting price
        price_tag = listing.find('div', class_='price')
        price = price_tag.text.strip() if price_tag else 'No price'

        # Extracting location
        location_tag = listing.find('div', class_='location')
        location = location_tag.text.strip() if location_tag else 'No location'

        # Append data to lists
        links.append(link)
        prices.append(price)
        locations.append(location)

    # Creating a DataFrame to store the extracted data
    dd = pd.DataFrame({
        'link': links,
        'price': prices,
        'location': locations
    })

    return dd

In [ ]:
scraped_links = pd.concat(scrape_regions(reg_ref))

In [ ]:
scraped_links = pd.concat(scraped_links)

In [ ]:
scraped_links

In [ ]:
#scraped_links.to_csv('scrape_proc_step1_links.csv')

# Step 2: Validate links: filter repeats, drop duplicates, filter price

In [ ]:
def clean_mask_price(df, mini, maxi):
    if df['price'].dtype == 'object':
        df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(float)
    return df[(df['price'] > mini) & (df['price'] < maxi)]

In [ ]:
new_links = pd.merge(clean_mask_price(scraped_links), reg_ref, on='region_url',how='left')
#pd.merge(new_links, reg_ref, on='region_url', how='left')
new_links

In [ ]:
link_list = backup_table[backup_table['link'].notna()]['link'].unique()
link_list

In [ ]:
def linkls()

In [ ]:
repeat_mask = new_links['link'].isin(link_list)

need_these = new_links[~repeat_mask]
repeats = new_links[repeat_mask]

In [ ]:
need_these

In [ ]:
repeats

In [ ]:
#need_plus_region.to_csv('new_links_'+ date.today().strftime('%Y-%m-%d') + '.csv')
#repeat_df.to_csv('repeat_links_'+ date.today().strftime('%Y-%m-%d') + '.csv')

In [ ]:
date.today()

In [ ]:
create_table_from_dataframe(repeats, 'repeat_links', date.today())
create_table_from_dataframe(need_these, 'new_links', date.today())

In [ ]:
'new_links_' + todays_date

In [ ]:
today_obj = datetime.strptime(todays_date, "%Y_%m_%d")
today_obj

In [ ]:
def scrape_listings(engine, source_table, target_table, reject_table, datestr, max_retries=3):
    # Ensure target and reject tables exist
    try:
        with engine.connect() as conn:
            # Create target table if it doesn't exist
            conn.execute(text(f"""
                CREATE TABLE IF NOT EXISTS {target_table} (
                    "VIN" TEXT, condition TEXT, drive TEXT, fuel TEXT, odometer FLOAT,
                    paint_color TEXT, title_status TEXT, transmission TEXT, type TEXT,
                    posting_date TIMESTAMP, lat TEXT, long TEXT, geo_placename TEXT,
                    geo_region TEXT, postingbody TEXT, title TEXT, link TEXT PRIMARY KEY
                )
            """))
            conn.commit()
            print(f"Ensured that the target table '{target_table}' exists.")
            
            # Create reject table with the same structure as target table
            conn.execute(text(f"""
                CREATE TABLE IF NOT EXISTS {reject_table} (
                    "VIN" TEXT, condition TEXT, drive TEXT, fuel TEXT, odometer FLOAT,
                    paint_color TEXT, title_status TEXT, transmission TEXT, type TEXT,
                    posting_date TIMESTAMP, lat TEXT, long TEXT, geo_placename TEXT,
                    geo_region TEXT, postingbody TEXT, title TEXT, link TEXT PRIMARY KEY
                )
            """))
            conn.commit()
            print(f"Ensured that the reject table '{reject_table}' exists.")
    
    except Exception as e:
        print(f"Error creating tables: {e}")
        return  # Exit if there's an issue

    # Fetch remaining links to process
    try:
        with engine.connect() as conn:
            source_links_df = pd.read_sql(f"SELECT link FROM {source_table};", conn)
            existing_links = pd.read_sql(f"SELECT link FROM {target_table};", conn)['link'].tolist()
            rejected_links = pd.read_sql(f"SELECT link FROM {reject_table};", conn)['link'].tolist()
        
        # Filter links not yet processed or rejected
        remaining_links = source_links_df[~source_links_df['link'].isin(existing_links + rejected_links)]['link']
        
        print(f"Found {len(remaining_links)} remaining links to process.")
    
    except Exception as e:
        print(f"Error fetching links from tables: {e}")
        return  # Exit if there's an issue

    for link in remaining_links:
        try:
            # Run link_parser and clean output
            parsed_df = link_parser(link)
            if parsed_df is not None:
                valid_df, reject_df = clean_listing_output(parsed_df)

                # Insert valid listings into target table
                with engine.connect() as conn:
                    if not valid_df.empty:
                        valid_df.to_sql(target_table, con=conn, if_exists='append', index=False)

                    # Insert reject records into reject table with empty values for VIN and odometer
                    if not reject_df.empty:
                        reject_df['VIN'] = None  # Set VIN to None for rejected entries
                        reject_df['odometer'] = None  # Set odometer to None for rejected entries
                        reject_df.to_sql(reject_table, con=conn, if_exists='append', index=False)
                
                print(f"Processed link: {link}")
                
            else:
                print(f"Link {link} returned blocked or empty data.")
                
        except Exception as e:
            print(f"Error for {link}: {e}")
        finally:
            time.sleep(1)  # Avoid hitting the server too quickly

# Step 3: Scrape new listings: remove: title= blocked, VIN = '', odometer filter

In [ ]:
def part_one(main_data, datestr, reg_ref = 'region_reference', 
            dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432'):
    
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    
    # backup table : main_data + datestr
    old_df = backup_table(main_data, datestr, dbname=dbname, user=user, password=password, host=host, port=port, use_sqlalchemy=True)
    
    # creates SQL tables
    # 'repeat_links_' + datestr
    # 'new_links_' + datestr
    
    scraped_links = pd.concat(scrape_regions(reg_ref))
    sort_links(old_df, scraped_links, engine, datestr)

In [ ]:
def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(1)
        
    return dfls

In [ ]:
def sort_links(backup_df, scraped_links, engine, datestr, exist='replace'):
    
    #link_df = pd.read_sql(link_table, engine)
    #backup_df = pd.read_sql(backup_table, engine)
    
    repeat_mask = scraped_links.link.isin(backup_df.link)
    
    need_these = clean_mask_price(scraped_links[~repeat_mask], 4000, 110000) 
    repeats = scraped_links[repeat_mask]

    df_to_table(need_these, 'new_links' + datestr, engine, exist)
    print('new_links' + datestr + ' created')
    df_to_table(repeats, 'repeat_links' + datestr, engine, exist)
    print('repeat_links' + datestr + ' created')

In [ ]:
do_lots_stuff('car_data')

In [ ]:
good_links = 'new_links' + datestr
bad_links = 'repeat_links' + datestr

good_listings = 'new_listings' + datestr
bad_listings = 'repeat_listings' + datestr

good_vin_tablename = 'good_vin' + datestr
bad_vin_tablename = 'bad_vin' + datestr

In [ ]:
def df_to_table(df, final_table_name, engine, exist = 'replace'):
    with engine.connect() as connection:
        df.to_sql(final_table_name, con=connection, if_exists=exist, index=False)
        print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")

In [ ]:
'''
def table_exists(table_name, connection):
    query = text(f"""
        SELECT EXISTS (
            SELECT 1
            FROM pg_catalog.pg_tables
            WHERE schemaname = 'public' AND tablename = :table_name
        );
    """)
    result = connection.execute(query, table_name=table_name).scalar()
    return result


'''

In [ ]:
from sqlalchemy import inspect



def table_exists(table_name, connection):
    inspector = inspect(connection)
    tables = inspector.get_table_names()  # Get list of table names in the current schema
    return table_name in tables

In [ ]:
datestr = '_2024_10_29'

links_rejected = 'links_rejected'
vins_rejected = 'vins_rejected'
listings_rejected = 'listings_rejected' 

listings_accepted = 'listings_accepted' + datestr
vins_accepted = 'vins_accepted' + datestr    
links_accepted = 'links_accepted' + datestr

In [ ]:
gd_list = pd.read_sql(listings_accepted, engine)
gd_link = pd.read_sql(links_accepted, engine)
reg_ref = pd.read_sql('region_reference', engine)

In [ ]:
#### merged_linkls = pd.merge(pd.merge(gd_list, gd_link, on='link', how='left'),reg_ref, on='region_url')

In [ ]:
merged_linkls

In [ ]:
vin_gd = pd.read_sql('vins_accepted_2024_10_29', engine)
vin_gd

In [ ]:
mm_dropped = merged_linkls.drop_duplicates(subset=['VIN'])

In [ ]:
vn_no_dupe

In [ ]:
mm_dropped['VIN']

In [ ]:
car_data[car_data['link'].isin(gd_link)]

In [ ]:
vn_no_dupe = vin_gd.drop_duplicates(subset=['VIN'])

In [ ]:
car_data = pd.read_sql('car_data',engine)
car_data

In [ ]:
model_car = model_prep(car_data)

In [ ]:
[x for x in car_data.columns if ''

In [ ]:
def scrape_pred_cb(main_data, datestr):
    cbm = CatBoostRegressor()
    cbm.load_model('cb_model' + datestr)

In [ ]:
cat_feats = cbm.feature_names_

In [ ]:
model_car['days_since'].value_counts()

In [ ]:
model_car[cats+nums]

In [ ]:
cbm = CatBoostRegressor(
    iterations=1000,          # Number of boosting iterations
    learning_rate=0.1,       # Learning rate
    depth=10,                 # Depth of the trees
    silent=True,             # Silence output
    random_seed=42           # Random seed for reproducibility
)

cbm.fit(model_car[cats+nums], model_car['price'], cat_features=cats)

In [ ]:
cbm.feature_names_

In [ ]:
cats+nums

In [ ]:
no_pred_cols = [x for x in model_car.columns if 'pred_' not in x]

In [ ]:
removed_pred_model_car = model_car[[x for x in model_car.columns if 'pred_' not in x]]

In [ ]:
y_pred = cbm.predict(model_car[cats+nums])

In [ ]:
datestr = '_2024_10_29'

model_car['pred' + datestr] = y_pred

In [ ]:
car_pred_sql = pd.read_sql('car_data_predictions', engine)
car_pred_sql

In [ ]:
car_pred_sql.to_sql('car_data_predictions_2024_10_29', engine, index=False, if_exists='replace')

In [ ]:
pd.merge(car_pred_sql, model_car[['car_id','pred_2024_10_29']], on='car_id', how='outer').to_sql('car_data_predictions', engine, index=False, if_exists='replace')

In [ ]:
model_dir = os.path.join(os.getcwd(), 'cb_models')
# Create the directory if it doesn't exist
os.makedirs(model_dir, exist_ok=True)

In [ ]:
import os

cbm.save_model(os.path.join(model_dir, f'cb_model{datestr}.cbm'))

In [ ]:
vn_no_dupe['VIN']

In [ ]:
mm_dropped[mm_dropped.VIN.isin(vn_no_dupe['VIN'].unique())]

In [ ]:
f_df = pd.merge(vn_no_dupe, mm_dropped,  on='VIN', how='left')

In [ ]:
f_df

In [ ]:
f_df2 = model_prep(posting_date(f_df))

In [ ]:
f_df2

In [ ]:
np.sqrt(mean_squared_error(y_pred, f_df2['price']))

In [ ]:
y_pred1 = cbm.predict(f_df2[cats+nums])

In [ ]:
model_car.to_sql('car_data',engine, if_exists='replace', index=False)

In [ ]:
f_df2.to_sql('car_data', engine, if_exists='append', index=False)

In [ ]:
max_car_id = max(model_car['car_id'].tolist())
max_car_id

In [ ]:
bd_link = pd.read_sql('links_rejected', engine)
bd_link

In [ ]:
rej_listings[rej_listings['link'].isin(bd_link['link'])]

In [ ]:
other_links = gd_link[~gd_link['link'].isin(gd_list['link'])]

In [ ]:
other_links[~other_links['link'].isin(rej_link['link'])]

In [ ]:
rej_listings = pd.read_sql('listings_rejected', engine)
rej_listings

In [ ]:
other_links.to_sql('links_rejected', engine, index=False, if_exists='append')

In [ ]:
rej_link = pd.read_sql('links_rejected', engine) 
rej_link

In [ ]:
gd_list

In [ ]:
f_df2['car_id'].tolist()

In [ ]:
f_df2

In [ ]:
datestr = '_2024_10_29'

f_df2['pred' + datestr] = y_pred

In [ ]:
from sqlalchemy import inspect


def df_to_table(df, final_table_name, engine, exist = 'replace'):
    with engine.connect() as connection:
        df.to_sql(final_table_name, con=connection, if_exists=exist, index=False)
        print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")
        
def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(1)
        
    return dfls

def clean_mask_price(df, mini, maxi):
    if df['price'].dtype == 'object':
        df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(float)
    return df[(df['price'] > mini) & (df['price'] < maxi)]        


def table_exists(table_name, connection):
    inspector = inspect(connection)
    tables = inspector.get_table_names()  # Get list of table names in the current schema
    return table_name in tables

In [ ]:
all_links = current_data[current_data['link'].notna()]['link'].tolist() + current_linkrejects['link'].tolist()

In [ ]:
len(all_links)

In [ ]:
all_true_links = list(set(all_links))

In [ ]:
current_linkrejects = pd.read_sql('links_rejected', engine)
current_linkrejects

In [ ]:
current_data = pd.read_sql('car_data',engine)
current_data

In [ ]:
new_links = pd.read_sql('links_accepted_2024_10_30', engine)
new_links

In [ ]:
#new_links[~new_links['link'].isin(all_true_links)]

In [ ]:
new_links['']

In [ ]:
new_links.loc[4, 'link']

In [ ]:
'https://bham.craigslist.org/ctd/d/centreville-2017-gmc-sierra-1500/7797832032.html' in all_true_links

In [ ]:
links_accepted = 'links_accepted' + datestr2

In [ ]:
datestr2 = '_2024_10_30'

listings_accepted = 'listings_accepted' + datestr2
listings_rejected = 'listings_rejected'
links_rejected = 'links_rejected'
#acclks = pd.read_sql(f'SELECT "link" FROM {listings_accepted};', conn)['link'].tolist()
#acclks

In [ ]:
already_rejected_links = pd.read_sql(f'SELECT "link" FROM {links_rejected}', engine)['link'].tolist()
all_links = list(set(current_data.link.tolist() + already_rejected_links))

In [ ]:
len(all_links)

In [ ]:
#link_source = link_source_df['link'].tolist()

#print(len(all_links))
#print(len(link_source))
#print(type(link_source))

# Filter links not yet processed (in case of restart) or rejected in previous scrape
#[link for link in link_source if link not in all_links]

In [ ]:
listing_links = pd.read_sql(f"SELECT link FROM {listings_accepted};", engine)['link'].tolist()
rej_listings = pd.read_sql(f"SELECT link FROM {listings_rejected};", engine)['link'].tolist()

all_links = list(set(all_links + listing_links + rej_listings))

link_source_df = pd.read_sql(f'SELECT link FROM {links_accepted}', engine)

remaining_links = link_source_df[~link_source_df['link'].isin(all_links)]['link'].tolist()

print(f"Found {len(remaining_links)} remaining links to process.")

In [ ]:
current_goodlistings = pd.read_sql(f"SELECT * FROM {listings_accepted};", engine)

In [ ]:
gdls50 = current_goodlistings[:50]

In [ ]:
link_source_df[~link_source_df['link'].isin(all_links)]['link'].tolist()

In [ ]:
current_goodlistings

In [ ]:
current_goodlistings

In [ ]:
dfdf = reject_more_values('links_accepted_2024_11_03', 'links_rejected', 'listings_accepted_2024_11_03', 'listings_rejected', 'vins_accepted_2024_11_03', 'region_reference', 'new_data_2024_11_03', engine)

In [ ]:
dfdf.to_sql('car_data', engine, if_exists='append', index=False)

In [ ]:
import os
model_dir = os.path.join(os.getcwd(), 'cb_models')
model_dir

In [ ]:
cbm = CatBoostRegressor()

cbm.load_model(os.path.join(model_dir, 'cb_model_2024_10_29.cbm'))

In [ ]:
y_pred = cbm.predict(model_prep(dfdf[cats+nums]))

In [ ]:
tables_to_backup = ['car_data', 'vins_rejected', 'links_rejected', 'listings_rejected', 'schema_example','region_reference']

for table in tables_to_backup:
    # Load the table into a DataFrame
    df = pd.read_sql_table(table, engine)
    # Save DataFrame to CSV
    df.to_csv(f"{table}_backup.csv", index=False)

print("Backup complete!")

In [919]:
import psycopg2

# Connection to the original database
source_conn = psycopg2.connect(
    host="localhost",
    port=5432, # your server hostname
    database="cars",     # your database name
    user="postgres",   # your database username
    password="p33Gritz!!" # your database password
)
source_cursor = source_conn.cursor()

# Connection to the destination database
dest_conn = psycopg2.connect(
    host="localhost",
    port=5432, # your server hostname
    database="cars_backup",     # your database name
    user="postgres",   # your database username
    password="p33Gritz!!" # your database password
)
dest_cursor = dest_conn.cursor()

# List of tables to copy
tables_to_copy = ['car_data', 'vins_rejected', 'links_rejected', 'listings_rejected', 'schema_example','region_reference']

for table in tables_to_copy:
    # Fetch the table structure from the source database
    source_cursor.execute(f"SELECT * FROM {table} LIMIT 0")
    column_defs = ', '.join([f"{desc.name} {desc.type_code}" for desc in source_cursor.description])
   
    # Create table in destination database with the same structure
    dest_cursor.execute(f"CREATE TABLE IF NOT EXISTS {table} ({column_defs})")
    dest_conn.commit()

# Close all connections
source_cursor.close()
source_conn.close()
dest_cursor.close()
dest_conn.close()

SyntaxError: syntax error at or near "25"
LINE 1: CREATE TABLE IF NOT EXISTS car_data (VIN 25, odometer 701, p...
                                                 ^

In [ ]:
mean_squared_error(y_pred, dfdf['price'],squared=False)

In [ ]:
do_lots_stuff('car_data', '_2024_11_03')

In [ ]:
do_lots_stuff('car_data', '_2024_11_02')

In [ ]:
do_lots_stuff('car_data_new2', '_2024_11_01')

In [ ]:
do_lots_stuff('car_data_new', '_2024_10_31')

In [ ]:
do_lots_stuff('car_data_new2', '_2024_11_01')

In [ ]:
def do_lots_stuff(main_data, datestr, reg_ref = 'region_reference',
    dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432',
    links_rejected = 'links_rejected', vins_rejected = 'vins_rejected', listings_rejected = 'listings_rejected'):
                  
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    
    backup_tablename = main_data + datestr
    
    backup_query = f"""
    CREATE TABLE "{backup_tablename}" AS
    TABLE "{main_data}";"""
    
    check_query = f"""
    SELECT EXISTS (
        SELECT 1 
        FROM information_schema.tables 
        WHERE table_name = '{backup_tablename}'
    );
    """

    listings_accepted = 'listings_accepted' + datestr
    vins_accepted = 'vins_accepted' + datestr    
    links_accepted = 'links_accepted' + datestr
    
    try:
        with engine.connect() as conn:
            
            result = conn.execute(text(check_query)).fetchone()
            if result[0]:  # If the table exists
                print(f"Backup table '{backup_tablename}' already exists. Skipping creation.")
            else:
                # Proceed to create the backup table
                conn.execute(text(backup_query))
                conn.commit()
                print(f"Backup of '{main_data}' created as '{backup_tablename}'.")
                
            print(f"Reading data from table '{main_data}'...")
            backup_df = pd.read_sql(f'SELECT * FROM "{main_data}";', conn)[['link','VIN']]
            print(f"Backup DataFrame shape: {backup_df.shape}")
            
            reg_ref_df = pd.read_sql(reg_ref, conn)
                    
            check_link_query = f"""
            SELECT EXISTS (
                SELECT 1 
                FROM information_schema.tables 
                WHERE table_name = '{links_accepted}'
            );
            """
            result = conn.execute(text(check_link_query)).fetchone()
            
            print("Fetching already rejected links...")
            already_rejected_links = pd.read_sql(f'SELECT "link" FROM {links_rejected}', engine)['link'].tolist()
            all_links = list(set(backup_df.link.tolist() + already_rejected_links))
            print('length of all rejected and in data links ' + str(len(all_links)))
            
            print("Fetching already rejected VINS...")
            already_rejected_vins = pd.read_sql(f'SELECT "VIN" FROM {vins_rejected}', engine)['VIN'].tolist()
            all_vins = list(set(backup_df.VIN.tolist() + already_rejected_vins))
            print('length of all rejected and in data vins ' + str(len(all_vins)))
            
            if result[0]:  # If the table exists
                print(f"Table '{links_accepted}' already exists. Skipping creation.")
            
            else:
                scraped_links = pd.concat(scrape_regions(reg_ref_df))
      
                repeat_mask = scraped_links.link.isin(all_links)
                
                # takes bulk links, removes those in accepted database and reject database
                new_links = scraped_links[~repeat_mask].drop_duplicates(subset=['link'])

                # only want price > 4000, < 110000
                need_these_links = clean_mask_price(new_links, 4000, 110000) 
                df_to_table(need_these_links, links_accepted, engine, 'replace')
                print(links_accepted + ' created')           
                            
                # add more rejects that do not match price requirements
                reject_links = new_links[~new_links.link.isin(need_these_links.link)]
                reject_links['date_scraped'] = datestr
                df_to_table(reject_links, links_rejected, engine, 'append')
                print(links_rejected + ' created')
            
            if not table_exists(listings_accepted, conn):
                conn.execute(text(f"""
                    CREATE TABLE {listings_accepted} (
                        "VIN" TEXT, condition TEXT, drive TEXT, fuel TEXT, odometer FLOAT,
                        paint_color TEXT, title_status TEXT, transmission TEXT, type TEXT,
                        posting_date TIMESTAMP, lat TEXT, long TEXT, geo_placename TEXT,
                        geo_region TEXT, postingbody TEXT, title TEXT, link TEXT PRIMARY KEY
                    )
                """))
                conn.commit()
                print(f"Created the listing target table '{listings_accepted}'.")
            else:
                print(f"The listing target table '{listings_accepted}' already exists.")

            # Check and create good VIN table if it doesn't exist
            if not table_exists(vins_accepted, conn):
                conn.execute(text(f"""
                    CREATE TABLE \"{vins_accepted}\" AS TABLE "schema_example" WITH NO DATA;
                """))
                print(f"Created the good VIN table '{vins_accepted}'.")
                conn.commit()
            else:
                print(f"The good VIN table '{vins_accepted}' already exists.")
    
            # all_links contains rejected links so will not process them. adding those already in accepted in case of restart
            #existing_links = pd.read_sql(f"SELECT link FROM {links_accepted};", conn)['link'].tolist()
            listing_links = pd.read_sql(f"SELECT link FROM {listings_accepted};", engine)['link'].tolist()
            rej_listings = pd.read_sql(f"SELECT link FROM {listings_rejected};", engine)['link'].tolist()

            all_links = list(set(all_links + listing_links + rej_listings))

            link_source_df = pd.read_sql(f'SELECT link FROM {links_accepted}', engine)

            remaining_links = link_source_df[~link_source_df['link'].isin(all_links)]['link'].tolist()

            print(f"Found {len(remaining_links)} remaining links to process.")

    except Exception as e:
        print(f"Error fetching links from tables: {e}")
        return  # Exit if there's an issue
    
    #do_more(remaining_links, listings_accepted, listings_rejected, vins_accepted, vins_rejected, all_vins, datestr, engine)         
    vin_batch = [] 
    for link in remaining_links:
        try:
            parsed_df = link_parser(link)
            if parsed_df is not None:
                valid_df, reject_df = clean_listing_output(parsed_df)
                
                with engine.connect() as conn:
                    if not valid_df.empty:
                        good_vin_df = pd.read_sql(f'SELECT "VIN" FROM {vins_accepted}', con=engine)
                        bad_vin_df = pd.read_sql(f'SELECT "VIN" FROM {vins_rejected}', con=engine)
                        all_vins += good_vin_df['VIN'].tolist() + bad_vin_df['VIN'].tolist()
                        vin = valid_df.at[0, 'VIN']
                        
                        if (vin not in vin_batch) and (vin not in all_vins):
                            valid_df.to_sql(listings_accepted, con=conn, if_exists='append', index=False)
                            vin_batch.append(vin)
                            print(f"VIN added to batch: {vin}")
                        else:
                            print(f"VIN already in database: {vin}, adding to {listings_rejected}")
                            valid_df.to_sql(listings_rejected, con=conn, if_exists='append', index=False)

                        # Process batch if full
                        if len(vin_batch) == 50:
                            process_vin_batch(vin_batch, engine, vins_accepted, vins_rejected, datestr)

                    # Insert rejected listings
                    if not reject_df.empty:
                        reject_df['VIN'] = None
                        reject_df['odometer'] = None
                        reject_df['date_scraped'] = datestr
                        reject_df.to_sql(listings_rejected, con=conn, if_exists='append', index=False)
                        print(f"Added reject records to {listings_rejected}")

                print(f"Processed link: {link}")
            else:
                print(f"Link {link} returned blocked or empty data.")
        
        except Exception as e:
            print(f"Error processing {link}: {e}")

        finally:
            time.sleep(0.5)

    # Process any remaining vins in the batch after all links are processed
    if vin_batch:
        process_vin_batch(vin_batch, engine, vins_accepted, vins_rejected, datestr)

In [ ]:
def process_vin_batch(vin_batch, engine, vins_accepted, vins_rejected, datestr):
    # Decode batch and clean
    vin_df = batch_vin(';'.join(vin_batch))
    valid_vin_df, reject_vin_df = clean_vin_output(vin_df)
    
    with engine.connect() as conn:
        # Store valid VINs in database
        if not valid_vin_df.empty:
            valid_vin_df.to_sql(vins_accepted, engine, if_exists='append', index=False)
            print(f"Added {len(valid_vin_df)} records to {vins_accepted}")

        # Store rejected VINs in database with scrape date
        if not reject_vin_df.empty:
            reject_vin_df['date_scraped'] = datestr
            reject_vin_df.to_sql(vins_rejected, engine, if_exists='append', index=False)
            print(f"Added {len(reject_vin_df)} records to {vins_rejected}")
    
    # Clear batch after processing
    vin_batch.clear()
    print("Cleared vin_batch after processing.")

In [ ]:
print("Fetching already rejected VINS...")
already_rejected_vins = pd.read_sql(f'SELECT "VIN" FROM {vins_rejected}', engine)['VIN'].tolist()
all_vins = list(set(old_data.VIN.tolist() + already_rejected_vins))
print('length of all rejected and in data vins ' + str(len(all_vins)))

In [ ]:
listing_links = pd.read_sql(f"SELECT link FROM {listings_accepted};", engine)['link'].tolist()
rej_listings = pd.read_sql(f"SELECT link FROM {listings_rejected};", engine)['link'].tolist()

all_links = list(set(all_links + listing_links + rej_listings))

link_source_df = pd.read_sql(f'SELECT link FROM {links_accepted}', engine)

remaining_links = link_source_df[~link_source_df['link'].isin(all_links)]['link'].tolist()

In [ ]:
def do_more(remaining_links, listings_accepted, listings_rejected, vins_accepted, vins_rejected, all_vins, datestr, engine):

    vin_batch = [] 

    for link in remaining_links:
        try:
            parsed_df = link_parser(link)
            if parsed_df is not None:
                valid_df, reject_df = clean_listing_output(parsed_df)

                # Insert valid listings into target table
                with engine.connect() as conn:
                    if not valid_df.empty:
                        good_vin_df = pd.read_sql(f'SELECT "VIN" FROM {vins_accepted}', con=engine)
                        bad_vin_df = pd.read_sql(f'SELECT "VIN" FROM {vins_rejected}', con=engine)

                        # Concatenate VIN values from all tables into a single list
                        all_vins = all_vins + good_vin_df['VIN'].tolist() + bad_vin_df['VIN'].tolist()

                        vin = valid_df.at[0, 'VIN']

                        if (vin not in vin_batch) and (vin not in all_vins):
                            valid_df.to_sql(listings_accepted, con=conn, if_exists='append', index=False)
                            vin_batch.append(vin)
                            print(f"VIN added to batch: {vin}")

                        else:
                            print(f"VIN already in database: {vin}, added to {listings_rejected}")
                            valid_df.to_sql(listings_rejected, con=conn, if_exists='append', index=False)

                        # If batch is full, process it
                        if len(vin_batch) == 50:
                            print("Processing full batch:")
                            print(len(vin_batch))

                            # Decode batch and clean
                            vin_df = batch_vin(';'.join(vin_batch))
                            valid_vin_df, reject_vin_df = clean_vin_output(vin_df)

                            # Store valid VINs in database
                            valid_vin_df.to_sql(vins_accepted, engine, if_exists='append', index=False)
                            print(f"Added {len(valid_vin_df)} records to {vins_accepted}")

                            # Store rejected VINs in database with scrape date
                            reject_vin_df['date_scraped'] = datestr
                            reject_vin_df.to_sql(vins_rejected, engine, if_exists='append', index=False)
                            print(f"Added {len(reject_vin_df)} records to {vins_rejected}")

                            # Clear batch after processing
                            vin_batch.clear()
                            print("Cleared vin_batch after processing.")
                            print(len(vin_batch))

                    # Insert reject records
                    if not reject_df.empty:     
                        reject_df['VIN'] = None
                        reject_df['odometer'] = None
                        reject_df['date_scraped'] = datestr

                        reject_df.to_sql(listings_rejected, con=conn, if_exists='append', index=False)
                        print(f"Added reject records to {listings_rejected}")

                print(f"Processed link: {link}")
            else:
                print(f"Link {link} returned blocked or empty data.")

        except Exception as e:
            print(f"Error for {link}: {e}")

        finally:
            time.sleep(1)  # Avoid hitting the server too quickly

In [ ]:
def combine_new_id(old_data, new_data):
    max_car_id = max(old_data['car_id'].tolist())
    new_data['car_id'] = range(max_car_id + 1, max_car_id + 1 + len(new_data))
    
    return pd.concat([old_data, new_data])

In [ ]:
listings_accepted = 'listings_accepted_2024_10_30'
listings_rejected = 'listings_rejected'
vins_rejected = 'vins_rejected'


def bad_vin_bad_listing(listings_accepted, listings_rejected, vins_rejected, engine):
    
    with engine.connect() as conn:
        try:
            # Step 1: Fetch all unique rejected VINs from 'vins_rejected'
            bad_vins = pd.read_sql(f'SELECT "VIN" FROM {vins_rejected}', conn)['VIN'].unique()

            # Step 2: Identify listings in 'listings_accepted' that have rejected VINs
            # Convert list of bad_vins into a format suitable for SQL WHERE IN clause
            bad_vins_str = "', '".join(bad_vins)

            # Fetch rows from listings_accepted that have these rejected VINs
            rejected_listings_query = f"""
                SELECT * 
                FROM {listings_accepted}
                WHERE "VIN" IN ('{bad_vins_str}')
            """
            rejected_listings = pd.read_sql(rejected_listings_query, conn)

            # Step 3: Insert the rows with rejected VINs into 'listings_rejected'
            if not rejected_listings.empty:
                rejected_listings.to_sql(listings_rejected, conn, if_exists='append', index=False)
                print(f"Moved {len(rejected_listings)} records to '{listings_rejected}'.")

            # Step 4: Delete rows with rejected VINs from 'listings_accepted'
            delete_query = f"""
                DELETE FROM {listings_accepted}
                WHERE "VIN" IN ('{bad_vins_str}')
            """
            conn.execute(text(delete_query))
            print(f"Removed {len(rejected_listings)} records from '{listings_accepted}'.")

        except Exception as e:
            print(f"An error occurred: {e}")

In [ ]:
pd.read_sql('vins_rejected', engine)['VIN'].unique()

In [ ]:
source_bad_links(vin_rejects):
    
    if vin_rejects['vin'].isin(listing_rejects['vin'])

In [ ]:
def batch_vin(vin_input):
    url = 'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/'
    post_fields = {'format': 'json', 'data': vin_input}
    r = requests.post(url, data=post_fields)
    vin_return = json.loads(r.text)
    return pd.DataFrame(vin_return['Results'])

In [ ]:
current_goodlistings

In [ ]:
starts = np.arange(0, 482, 50)
ends = np.append(np.arange(50, 482, 50), 482)
cur_pairs = dict(zip(starts, ends))
cur_pairs

In [ ]:
vins_accepted = 'vins_accepted_2024_10_30'
vins_rejected = 'vins_rejected'
datestr = '_2024_10_30'

for k,v in cur_pairs.items():
    
    vin_df = batch_vin(';'.join(current_goodlistings[k:v]['VIN'].tolist()))

    valid_vin_df, reject_vin_df = clean_vin_output(vin_df)

    valid_vin_df.to_sql(vins_accepted, engine, if_exists='append', index=False)
    
    reject_vin_df['date_scraped'] = datestr
    reject_vin_df.to_sql(vins_rejected, engine, if_exists='append', index=False)

In [ ]:
badvins = pd.read_sql(vins_rejected, engine)
#badvins
badvins.drop_duplicates(subset=['VIN']).to_sql(vins_rejected, engine, if_exists='replace')

In [ ]:
badvins.VIN.value_counts()

In [ ]:
#gudvins = pd.read_sql(vins_accepted, engine)
gudvins.drop_duplicates(subset=['VIN']).to_sql(vins_accepted, engine, if_exists='replace')

In [ ]:
';'.join(current_goodlistings[50:100]['VIN'].tolist())

In [ ]:
vin_batch = []


for 
vin_batch.clear()

In [ ]:
';'.join(gdls50['VIN'])

In [ ]:
vin_df = batch_vin(';'.join(gdls50['VIN']))

In [ ]:
def clean_vin_output(df):
    # Replace empty strings with 'nan' (if you want actual NaNs, use np.nan instead of 'nan')
    df = df.replace('', 'nan')

    # Separate rows with invalid ErrorCodes, or nulls in key columns, into df_bad
    df_bad = df[~df['ErrorCode'].isin(['0', '1', '6']) | df[['Make', 'Model', 'ModelYear', 'VIN']].isnull().any(axis=1)]
    df_good = df[df['ErrorCode'].isin(['0', '1', '6'])].dropna(subset=['Make', 'Model', 'ModelYear', 'VIN'])

    # Define the value filter for acceptable vehicle types and body classes
    value_filter = (
        df_good['VehicleType'].isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR']) &
        df_good['BodyClass'].isin(['Pickup', 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
                                   'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
                                   'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
                                   'Minivan', 'Wagon', 'Cargo Van', 'Van'])
    )

    # Apply the value filter, adding rows that don't meet it to df_bad
    df2 = df_good[value_filter]
    df_bad = pd.concat([df_bad, df_good[~value_filter]], ignore_index=True)

    return df2, df_bad

In [ ]:
valid_vin_df, reject_vin_df = clean_vin_output(vin_df)

In [ ]:
valid_vin_df

In [ ]:
scrape_listings('new_links_' + todays_date, 'new_listings_' + todays_date, 'reject_listings_' + todays_date)

In [ ]:
do_everything('modern_car_data', datestr='2024_10_28')

In [ ]:
main_data = 'car_data', datestr = '_2024_10_28'

In [ ]:
def concat_retrain_update(old_data, good_vin, new_listings, new_links, datestr, cats=cats, nums=nums):
    
    vin_plus = pd.merge(good_vin, new_listings)
    f_df = model_prep(posting_date(pd.merge(vin_plus, new_links, on='link', how='left')))
    
    df = pd.concat([model_prep(old_data), f_df])
    
    cbm = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=10, silent=True)
    
    mod_name = 'cb_model_' + datestr + '.cbm'

    cbm.fit(df[cats+nums], df['price'])
    
    cbm.save_model(mod_name)
    print(f"Model saved as '{mod_name}'.")

In [ ]:
f = pd.read_sql_query('SELECT "VIN" from good_vin_2024_10_28 LIMIT 50', engine)
test_vins = ';'.join(f['VIN'].tolist())
test_vins

In [ ]:
tdf = batch_vin('3N6CM0KN1LK692922;1C4HJXEG1LW182629;1GCWGAFG2K1209883;1GCHSCEN8L1148415;3KPF24AD9PE588320;4T1G11AK6NU653655;2C4RDGEG4LR160211;3C6RR6KG4MG547582;3N6CM0KN0MK700980;1C6RRFFG1MN748244;3TMAZ5CN7KM104659;1N4BL4CV8PN350381;1GNSKBKC8GR321688;5XYP24HC8NG303107;2C4RC1DG5MR538748;1GCRYAEF6MZ136458;1C6SRFBTXNN164494;1GCHSBEN5L1109498;JTMZFREV6JJ747614;1FM5K7D89JGA51624;3GTU2LEC4HG200354;KL4CJBSB7DB096296;4T1K61AK4PU145540;2C4RC1BG3NR117602;5TFCZ5AN1HX057921;JTEBU5JR6F5228664;1N4BL4DV4PN305386;5XYRG4LC7NG097392;KL79MPS29NB125008;1GCGSBEN7N1154585;5TDYK3EH2CS084532;3N1AB8CV5NY228497;5YFEPMAE4NP365748;3N1CP5BV3ML479573;JTDKN3DU2B1409686;5GAKVCED1BJ186654;5TFHW5F14BX196517;3GTU2MEC9HG346609;JTNKHMBX0M1094542;2GCVKPEC7K1100454;2C3CDZAG3HH665410;5YFB4MDE5PP033215;4T1B11HK6KU763682;7MUCAAAG5NV010268;3KPF24AD3PE564627;2T2AZMDA6LC245752;5TFHY5F11MX007285;1N4AA6FV9LC373196;5N1DR3BA3NC216067;3TYCZ5AN2MT032658')

In [ ]:
pd.DataFrame(tdf['Results'])

In [ ]:
from sqlalchemy import inspect


def df_to_table(df, final_table_name, engine, exist = 'replace'):
    with engine.connect() as connection:
        df.to_sql(final_table_name, con=connection, if_exists=exist, index=False)
        print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")
        
def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(1)
        
    return dfls

def clean_mask_price(df, mini, maxi):
    if df['price'].dtype == 'object':
        df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(float)
    return df[(df['price'] > mini) & (df['price'] < maxi)]        


def table_exists(table_name, connection):
    inspector = inspect(connection)
    tables = inspector.get_table_names()  # Get list of table names in the current schema
    return table_name in tables

def batch_vin(vin_input):
    url = 'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/'
    post_fields = {'format': 'json', 'data': vin_input}
    r = requests.post(url, data=post_fields)
    vin_return = json.loads(r.text)
    return pd.DataFrame(vin_return['Results'])


def clean_vin_output(df):
    
    df = df[df['ErrorCode'].isin(['0', '1', '6'])]
    #df = posting_date(df)  # Assuming posting_date is defined elsewhere
    df = df.replace('', 'nan')

    
    #df[cats] = df[cats].astype(str)
    #df[nums] = df[nums].astype('float64')
    
    df = df.dropna(subset=['Make', 'Model', 'ModelYear', 'VIN'])

    
    value_filter = (df.VehicleType.isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR'])) & (df['BodyClass'].isin(['Pickup', 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
       'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
       'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
       'Minivan', 'Wagon', 'Cargo Van', 'Van']))
       
    df2 = df[value_filter]
    df_bad = df[~value_filter]

    return df2, df_bad

In [ ]:
def get_json(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")
    except Exception as err:
        print(f"An error occurred: {err}")
    return {}

def vin_decode(vin):
    json_data = get_json(f'https://vpic.nhtsa.dot.gov/api/vehicles/decodevinvalues/{vin}?format=json')
    
    if json_data['Results']:
        df = pd.DataFrame(json_data['Results'])
    else: 
        df = pd.DataFrame(columns=cats + nums)
    return df

def clean_vin_output(df):
    df = df[df['ErrorCode'].isin(['0', '1'])]
    #df = posting_date(df)  # Assuming posting_date is defined elsewhere
    df = df.replace('', 'nan')

    #df[cats] = df[cats].astype(str)
    #df[nums] = df[nums].astype('float64')
    
    df = df.dropna(subset=['Make', 'Model', 'ModelYear', 'VIN'])
    
    value_filter = (df.VehicleType.isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR'])) & 
    (df['BodyClass'].isin(['Pickup', 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
       'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
       'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
       'Minivan', 'Wagon', 'Cargo Van', 'Van']))
       
    df2 = df[value_filter]
    df_bad = df[~value_filter]
    
    return df2, df_bad

def mass_decode(source_table, target_table, reject_table, dbname='cars', user='postgres', password='p33Gritz!!', host='localhost', port='5432'):
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    
    try:
        with engine.connect() as conn:
            # Create target and reject tables using schema from schema_example only if they do not exist
            conn.execute(text(f"""
                CREATE TABLE IF NOT EXISTS \"{target_table}\" AS TABLE "schema_example" WITH NO DATA;
            """))
            conn.execute(text(f"""
                CREATE TABLE IF NOT EXISTS \"{reject_table}\" AS TABLE "schema_example" WITH NO DATA;
            """))
            print(f"Ensured that the target table '{target_table}' and reject table '{reject_table}' exist.")

    except Exception as e:
        print(f"Error creating tables: {e}")
        return  # Exit if there's an issue

    # Fetch VINs from source_table
    try:
        with engine.connect() as conn:
            source_vins = pd.read_sql(f'SELECT "VIN" FROM "{source_table}";', conn)
            existing_vins = pd.read_sql(f'SELECT "VIN" FROM "{target_table}";', conn)['VIN'].tolist() if conn.dialect.has_table(conn, target_table) else []
            rejected_vins = pd.read_sql(f'SELECT "VIN" FROM "{reject_table}";', conn)['VIN'].tolist() if conn.dialect.has_table(conn, reject_table) else []

        # Filter VINs that are already processed or rejected
        remaining_vins = source_vins[~source_vins['VIN'].isin(existing_vins + rejected_vins)]
        
        print(f"Found {len(remaining_vins)} remaining VINs to process.")
    
    except Exception as e:
        print(f"Error fetching VINs from tables: {e}")
        return  # Exit if there's an issue

    # Process each remaining VIN
    for _, row in remaining_vins.iterrows():
        vin = row['VIN']
        if pd.isna(vin):  # Skip if VIN is not available
            print(f"Skipping VIN {row['VIN']} due to missing VIN.")
            continue
        
        df = vin_decode(vin)
        
        # Check if we need to overwrite VIN with a new value
        vin2 = df.loc[0, 'VIN'] if not df.empty else None
        if vin2 and vin2 != vin:
            remaining_vins.loc[remaining_vins['VIN'] == vin, 'VIN'] = vin2  # Overwrite the original VIN

        # Clean the output
        valid_df, reject_df = clean_vin_output(df)
        # Insert valid entries into target_table
        if not valid_df.empty:
            valid_df.to_sql(target_table, con=engine, if_exists='append', index=False, method='multi')  # Insert valid entries
            print(f"Inserted {len(valid_df)} valid records for VIN '{vin}' into target table '{target_table}'.")

        # Insert rejected entries into reject_table
        if not reject_df.empty:
            reject_df['VIN'] = vin  # Set the original VIN for rejected entries
            reject_df.to_sql(reject_table, con=engine, if_exists='append', index=False, method='multi')  # Insert rejected entries
            print(f"Inserted {len(reject_df)} rejected records for VIN '{vin}' into reject table '{reject_table}'.")

In [ ]:
def double_sql(main_data, 'region_reference', date.today(), etc...):
    
    #1 backup data-> save links in table to list
    
    create 'car_data_' + date.today()
    
    new_links: scrape region_df for links, table with all DATA merged w/ regions
    reject_links: already in db / bad price
        
    '''
    scraped_links = pd.concat(scrape_regions(reg_ref))
    new_links = pd.merge(clean_mask_price(scraped_links), reg_ref, on='region_url',how='left')
    link_list = backup_table[backup_table['link'].notna()]['link'].unique()

    repeat_mask = new_links['link'].isin(link_list)

    need_these = new_links[~repeat_mask]
    repeats = new_links[repeat_mask]

    create_table_from_dataframe(repeats, 'repeat_links', date.today())
    create_table_from_dataframe(need_these, 'new_links', date.today())

    '''
        
    scrape_listings( new_links_ + date.today(),  
                    new_listings_ + date.today() (important string, tablename),
                    reject_listings)
    
    for every listing that is processed:
        divide into rejects
        
        mass_decode(new_listings_ + todays_date (important string, tablename) (but not so mass...)
        creates: good_vin, bad_vin
                    
    merge good_vin on new_listings on 'VIN', left
    merge that with new_links on 'link', left
                    
    creates df
    
    df[cats].astype(str)
    df[nums].astype('float64')
    
    #copy 'car_data_' + date.today() table -> append df (might be tricky...)
    
    UNION df with 'car_data_backup'
                    
    name 'car_data'
                    
    save backup model
    train new model
    replace model

In [ ]:
pd.merge(pd.read_sql('new_listings_' + todays_date), pd.read_sql('new_links_' + todays_date), on='link', how='left')

#scrape_listings('new_links_' + todays_date, 'new_listings_' + todays_date, 'reject_listings_' + todays_date)

In [ ]:
from sqlalchemy import inspect


def df_to_table(df, final_table_name, engine, exist = 'replace'):
    with engine.connect() as connection:
        df.to_sql(final_table_name, con=connection, if_exists=exist, index=False)
        print(f"Table '{final_table_name}' created successfully using SQLAlchemy.")
        
def scrape_regions(df):
    dfls = []

    for region_url in df.region_url.unique():
        link = region_url + '/search/cta?auto_title_status=1&bundleDuplicates=1&query=vin#search=1~gallery~0~0'
        tdf = df_from_link(link)
        tdf['region_url'] = region_url
        dfls.append(tdf)
        time.sleep(1)
        
    return dfls

def clean_mask_price(df, mini, maxi):
    if df['price'].dtype == 'object':
        df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(float)
    return df[(df['price'] > mini) & (df['price'] < maxi)]        


def table_exists(table_name, connection):
    inspector = inspect(connection)
    tables = inspector.get_table_names()  # Get list of table names in the current schema
    return table_name in tables

def batch_vin(vin_input):
    url = 'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/'
    post_fields = {'format': 'json', 'data': vin_input}
    r = requests.post(url, data=post_fields)
    vin_return = json.loads(r.text)
    return pd.DataFrame(vin_return['Results'])


def clean_vin_output(df):
    
    df = df[df['ErrorCode'].isin(['0', '1', '6'])]
    #df = posting_date(df)  # Assuming posting_date is defined elsewhere
    df = df.replace('', 'nan')

    
    #df[cats] = df[cats].astype(str)
    #df[nums] = df[nums].astype('float64')
    
    df = df.dropna(subset=['Make', 'Model', 'ModelYear', 'VIN'])

    
    value_filter = (df.VehicleType.isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR'])) & (df['BodyClass'].isin(['Pickup', 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
       'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
       'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
       'Minivan', 'Wagon', 'Cargo Van', 'Van']))
       
    df2 = df[value_filter]
    df_bad = df[~value_filter]

    return df2, df_bad

def link_parser(link):

    response=requests.get(link)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Dictionary to hold the data
    data = {}

    # Define expected fields (labels) and initialize all as None
    fields = ['VIN:', 'condition:', 'drive:', 'fuel:', 'odometer:', 'paint color:', 'title status:', 'transmission:', 'type:']
    data = {field: None for field in fields}

    title_tag = soup.find('title')
        
    if title_tag:
        title = title_tag.text.strip()
        if title == 'blocked':
            return None
    else:
        title = None  # Just in case no title tag is found (shouldn't happen)
        
    time_tag = soup.find('time', class_='date timeago')
    if time_tag and 'datetime' in time_tag.attrs:
        posting_date_str = time_tag['datetime']
        try:
            # Use strptime for ISO format: "2024-10-18T17:06:07-0500"
            posting_date = datetime.strptime(posting_date_str, '%Y-%m-%dT%H:%M:%S%z')
        except ValueError:
            posting_date = None
        data['posting_date'] = posting_date
    else:
        data['posting_date'] = None
        
    geo_position_tag = soup.find('meta', attrs={'name': 'geo.position'})
    if geo_position_tag:
        geo_position = geo_position_tag.get('content', None)
        if geo_position:
            lat, long = geo_position.split(';')
            data['lat'] = lat
            data['long'] = long
    else:
        data['lat'] = None
        data['long'] = None

    geo_placename_tag = soup.find('meta', attrs={'name': 'geo.placename'})
    if geo_placename_tag:
        data['geo_placename'] = geo_placename_tag.get('content', None)
    else:
        data['geo_placename'] = None

    geo_region_tag = soup.find('meta', attrs={'name': 'geo.region'})
    if geo_region_tag:
        data['geo_region'] = geo_region_tag.get('content', None)
    else:
        data['geo_region'] = None
        
    posting_body_section = soup.find('section', id='postingbody')
    if posting_body_section:
        h2_tag = posting_body_section.find('h2')
        if h2_tag:
            # Clean text by removing HTML tags and special characters
            posting_body = h2_tag.get_text(strip=True)
            posting_body = re.sub(r'[^a-zA-Z0-9\s]', '', posting_body)  # Remove special characters
            data['postingbody'] = posting_body
        else:
            data['postingbody'] = None
    else:
        data['postingbody'] = None
        
        
    # Finding only the relevant divs with class "attrgroup"
    attr_groups = soup.find_all('div', class_='attrgroup')

    # Loop through each attrgroup and extract 'labl' and 'valu'
    for group in attr_groups:
        attrs = group.find_all('div', class_='attr')  # Find individual attributes in the group
        for attr in attrs:
            labl_tag = attr.find('span', class_='labl')
            valu_tag = attr.find('span', class_='valu')

            # Check if both labl and valu are present
            if labl_tag and valu_tag:
                labl = labl_tag.text.strip()  # Keep the original labl with the colon
                valu = valu_tag.text.strip()

                # Ensure we're only storing known fields
                if labl in data:
                    data[labl] = valu
                    
    data['title'] = title
    data['link'] = link
    
    ff = pd.DataFrame([data])
    return ff

def clean_listing_output(df2):
    # Column renaming dictionary
    column_rename_dc = {
        'VIN:': 'VIN', 'condition:': 'condition', 'drive:': 'drive', 'fuel:': 'fuel',
        'paint color:': 'paint_color', 'type:': 'type', 'transmission:': 'transmission',
        'title status:': 'title_status', 'odometer:': 'odometer'
    }
    
    # Rename and clean DataFrame
    df = df2.rename(columns=column_rename_dc).reset_index(drop=True)
    df = df.replace('', 'nan')

    if 'odometer' in df and df['odometer'].dtype == 'object':
        df['odometer'] = df['odometer'].str.replace(',', '').astype(float)

    # Truncate VIN to 16 characters if longer, else mark for rejection if less than 16
    df['VIN'] = df['VIN'].str[:16]
    
    # Filter listings with valid VIN and odometer
    valid_df = df[(df['VIN'].notnull()) & (df['VIN'].str.len() == 16) & (df['odometer'].between(25000, 310000))]
    reject_df = df[~df.index.isin(valid_df.index)]  # Entries that don't meet criteria

    return valid_df, reject_df

In [ ]:
def clean_listing_output(df2):
    # Column renaming dictionary
    column_rename_dc = {
        'VIN:': 'VIN', 'condition:': 'condition', 'drive:': 'drive', 'fuel:': 'fuel',
        'paint color:': 'paint_color', 'type:': 'type', 'transmission:': 'transmission',
        'title status:': 'title_status', 'odometer:': 'odometer'
    }
    
    # Rename and clean DataFrame
    df = df2.rename(columns=column_rename_dc).reset_index(drop=True)
    df = df.replace('', 'nan')

    if 'odometer' in df and df['odometer'].dtype == 'object':
        df['odometer'] = df['odometer'].str.replace(',', '').astype(float)

    # Truncate VIN to 16 characters if longer, else mark for rejection if less than 16
    df['VIN'] = df['VIN'].str[:16]
    
    # Filter listings with valid VIN and odometer
    valid_df = df[(df['VIN'].notnull()) & (df['VIN'].str.len() == 16) & (df['odometer'].between(25000, 310000))]
    reject_df = df[~df.index.isin(valid_df.index)]  # Entries that don't meet criteria

    return valid_df, reject_df

In [ ]:
def clean_listing_output1(df2):
    
    column_rename_dc = {'VIN:': 'VIN',
                   'condition:' : 'condition',
                   'drive:': 'drive',
                   'fuel:' : 'fuel',
                   'paint color:' : 'paint_color',
                   'type:' : 'type',
                   'transmission:' : 'transmission',
                   'title status:': 'title_status',
                   'odometer:' : 'odometer'}

    df = df2.rename(columns=column_rename_dc).reset_index(drop=True)
    df = df[(df['odometer'] != '') & (df['VIN'] != '')]
    df = df.replace('','nan')
    
    df['VIN'] = df['VIN'].astype(str)
    df = df[(df['VIN'].astype(str).str.len() > 16)]
    
    if df['odometer'].dtype == 'object':
        df['odometer'] = df['odometer'].str.replace(',', '').astype(float)
        
    listing_df = df[(df['VIN'] != '') & (df['odometer'] > 25000) & (df['odometer'] < 310000) & (df['VIN'].astype(str).str.len() > 16)].drop_duplicates(subset='VIN')
    return listing_df, df2[~df2.index.isin(listing_df.index)]

In [ ]:
xx = clean_listing_output(full_listing_df)
xx

In [ ]:
listing_df[listing_df['VIN'] == 'WAUDT48H14K020081']

In [ ]:
full_listing_df

In [ ]:
listing_df = pd.merge(xx, need_plus_region, on='link', how='left')
listing_df

In [ ]:
listing_df[listing_df.VIN.str.contains('WAUDT48H14K020081')]

In [ ]:
#listing_df.to_csv('listings_2024_10_21.csv')

# Step 4: Listing VIN Decoding

In [ ]:
def clean_vin_output(df):
    df = df[df['ErrorCode'].isin(['0','1'])]
    df = posting_date(df)
    df = df.replace('','nan')

    df[cats] = df[cats].astype(str)
    df[nums] = df[nums].astype('float64')
    
    df = df.dropna(subset=['Make','Model','ModelYear','VIN'])
    
    value_filter = (df.VehicleType.isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR'])) & (df['BodyClass'].isin(['Pickup',
       'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
       'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
       'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
       'Minivan', 'Wagon', 'Cargo Van', 'Van']))
       
    df2 = df[value_filter]
    df_bad = df[~value_filter]
    
    return df2, df_bad

In [ ]:
def get_json(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")
    except Exception as err:
        print(f"An error occurred: {err}")
    return {}

def vin_decode(vin):
    json_data = get_json(f'https://vpic.nhtsa.dot.gov/api/vehicles/decodevinvalues/{vin}?format=json')
    
    if json_data['Results']:
        df = pd.DataFrame(json_data['Results'])
    else: 
        df = pd.DataFrame(columns=cats+nums)
    return df

In [ ]:
read pd.read_sql('new_listings_' + todaysdate)

In [ ]:
vin_output_ls1 = []

for vin in listing_df[~listing_df['VIN'].isin(vin_output['VIN'])]['VIN'].unique():
    vin_output_ls1.append(vin_decode(vin))

In [ ]:
vin_output = pd.concat(vin_output_ls)

vin_output.to_csv('vin_output_2024_10_21.csv')

In [ ]:
vin_output1 = pd.concat(vin_output_ls1)

vin_output1.to_csv('vin_output1_2024_10_21.csv')

In [ ]:
listing_df[listing_df.VIN == 'WAUDT48H14K020081Y'].VIN.unique()

In [ ]:
test_vin_df = listing_df[listing_df.VIN == 'VIN']
test_vin_df

In [ ]:
test_vin_df.loc[test_vin_df[test_vin_df.VIN=='WAUDT48H14K020081Y'].index,'VIN'] = 'WAUDT48H14K020081'

In [ ]:
test_ls = []

for vin in test_vin_df.VIN.unique():
    df = vin_decode(vin)
    vin2 = df.loc[0,'VIN']
    if vin2 != vin:
        test_vin_df.loc[test_vin_df[test_vin_df.VIN==vin].index,'VIN'] = vin2
    test_ls.append(df)
    
vin_output = pd.concat(test_ls)

In [ ]:
def mass_decode(listing_df, max_retries=10):
    test_ls = []
    remaining_vins = listing_df['VIN'].unique().tolist()  # Start with all unique VINs

    while remaining_vins:
        vin = remaining_vins.pop(0)  # Get the next VIN to process
        retries = 0

        while retries < max_retries:
            try:
                df = vin_decode(vin)  # Attempt to decode the VIN
                vin2 = df.loc[0, 'VIN']  # Extract the decoded VIN

                if vin2 != vin:
                    # Update the original DataFrame if the decoded VIN is different
                    listing_df.loc[listing_df[listing_df.VIN == vin].index, 'VIN'] = vin2

                test_ls.append(df)  # Add the DataFrame to the list
                break  # Break the retry loop if successful
            except requests.exceptions.Timeout:
                retries += 1
                print(f'Timeout occurred for {vin}. Retrying {retries}/{max_retries}...')
                time.sleep(2)  # Optional: wait before retrying
            except Exception as e:
                print(f'Error occurred for {vin}: {e}')
                break  # Exit the retry loop on other exceptions

        # If all retries fail, re-add the VIN to the remaining list for later attempts
        if retries == max_retries:
            print(f'Failed to decode VIN {vin} after {max_retries} attempts. Will retry later.')
            remaining_vins.append(vin)

        time.sleep(1)  # Optional: Sleep between requests to avoid overwhelming the server

    # Concatenate all the DataFrames collected from the successful VIN decodes
    if test_ls:
        vin_output = pd.concat(test_ls, ignore_index=True)
    else:
        vin_output = pd.DataFrame()  # Create an empty DataFrame if no successful decodes

    return vin_output

In [ ]:
listing_df.loc[10066, 'VIN'] = 'WAUDT48H14K020081'

In [ ]:
#pd.concat([vin_output, vin_output1]).reset_index(drop=True)['VIN'] == ''

In [ ]:
f_df = pd.merge(pd.concat([vin_output, vin_output1]), listing_df, on='VIN', how='left')
f_df

In [ ]:
def clean_vin_output(df):
    df = df[df['ErrorCode'].isin(['0','1'])]
    df = posting_date(df)
    df = df.replace('','nan')

    df[cats] = df[cats].astype(str)
    df[nums] = df[nums].astype('float64')
    
    df = df.dropna(subset=['Make','Model','ModelYear','VIN'])
    
    value_filter = (df.VehicleType.isin(['TRUCK', 'MULTIPURPOSE PASSENGER VEHICLE (MPV)', 'PASSENGER CAR'])) & (df['BodyClass'].isin(['Pickup',
       'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
       'Crossover Utility Vehicle (CUV)', 'Sedan/Saloon',
       'Hatchback/Liftback/Notchback', 'Coupe', 'Convertible/Cabriolet',
       'Minivan', 'Wagon', 'Cargo Van', 'Van']))
       
    df2 = df[value_filter]
    df_bad = df[~value_filter]
    
    return df2, df_bad

In [ ]:
f_df1, df_leftovers = clean_vin_output(f_df)

In [ ]:
f_df1

In [ ]:
non_numeric = f_df1[pd.to_numeric(f_df1['price'], errors='coerce').isna()]

non_numeric[non_numeric.notna()]

In [ ]:
f_df2 = posting_date(f_df1)
#df3 = posting_date(df2)

In [ ]:
total_df = pd.concat([df3,f_df2])

In [ ]:
total_df[nums]

In [ ]:
total_df[cats] = total_df[cats].astype(str)
total_df[nums] = total_df[nums].astype('float64')

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
cb7 = CatBoostRegressor(iterations=500, depth=11, learning_rate=0.1, loss_function='RMSE', silent=True)
cb7.fit(total_df[cats+nums], total_df['price'], cat_features=cats)

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred7 = cb7.predict(total_df[cats+nums])
rmse = np.sqrt(mean_squared_error(y_pred7, total_df['price']))
rmse

In [ ]:
cb7.save_model('cb_model_latest.cbm')

In [ ]:
dict(zip(cats+nums, cb7.feature_importances_))

In [ ]:
total_df['pred_2024_10_22'] = y_pred7

In [ ]:
df_vehicles1 = df_vehicles.reset_index(drop=True)

In [ ]:
df_copy = impute_engine_cylinders(df_vehicles1)
df_copy

In [ ]:
import pandas as pd
import numpy as np

def impute_engine_cylinders(df):
    df_copy = df.copy()

    # Separate rows where EngineCylinders is 'nan' (as a string)
    missing_cylinders = df_copy[df_copy['EngineCylinders'] == 'nan'].copy()

    for idx, row in missing_cylinders.iterrows():
        # Find rows with the same GVWR and BodyClass
        potential_matches = df_copy[
            (df_copy['GVWR'] == row['GVWR']) &
            (df_copy['BodyClass'] == row['BodyClass']) &
            (df_copy['EngineCylinders'] != 'nan')  # Ignore rows where EngineCylinders is 'nan'
        ].copy()  # Explicitly copy to avoid SettingWithCopyWarning

        if not potential_matches.empty:
            # Initialize a total difference column with 0
            potential_matches['total_diff'] = 0

            # Calculate the absolute difference for DisplacementCC only if it is not null
            if pd.notna(row['DisplacementCC']):
                potential_matches['displacement_diff'] = abs(potential_matches['DisplacementCC'] - row['DisplacementCC'])
                potential_matches['total_diff'] += potential_matches['displacement_diff'].fillna(0)

            # Calculate the absolute difference for EngineHP only if it is not null
            if pd.notna(row['EngineHP']):
                potential_matches['enginehp_diff'] = abs(potential_matches['EngineHP'] - row['EngineHP'])
                potential_matches['total_diff'] += potential_matches['enginehp_diff'].fillna(0)

            # Get the row with the smallest total difference (or without difference if all are NaN)
            best_match = potential_matches.loc[potential_matches['total_diff'].idxmin()]

            # Impute the missing EngineCylinders with the value from the best match
            df_copy.loc[idx, 'EngineCylinders'] = best_match['EngineCylinders']

    return df_copy

In [ ]:
df_copy.to_csv('df_copy.csv')

In [ ]:
df_vehicles = model_prep(pd.read_csv('car_data_latest.csv', index_col=[0], dtype={'EngineCylinders': str}))

In [ ]:
df_vehicles[df_vehicles.DisplacementCC == 'nan']

In [ ]:
df_vehicles[df_vehicles.EngineCylinders == 'nan']

In [ ]:
'BodyClass','DisplacementCC'

In [ ]:
df_vehicles['EngineCylinders'].value_counts()

In [ ]:
df_vehicles[df_vehicles.DisplacementCC.isnull()][['Make','Model','ModelYear', 'EngineCylinders']]

In [ ]:
car_data_latest = total_df[[x for x in total_df.columns.to_list() if x in f_df1.columns.tolist()] + ['pred_2024_10_22']]#.to_csv('car_data_latest.csv')

In [ ]:
car_data_latest.Model

In [ ]:
total_df.columns.to_list()

In [ ]:
#remove_cols = ['y_pred','error','abs_error','pred','Message', 'date_posted','displ','Year', 'description', 'county',
'image_url', 'sizse'
total_df.Message.value_counts()

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(total_df['days_since'], total_df['price'])

In [ ]:
def reject_more_values(gd_links, bd_links, gd_listings, bd_listings, gd_vins, reg_ref, new_table_name, engine):
    with engine.connect() as conn:
        
        # Step 1: Remove duplicate VINs in gd_vins
        deduplicate_gd_vins = text(f"""
        DELETE FROM {gd_vins}
        WHERE ctid NOT IN (
            SELECT min(ctid)
            FROM {gd_vins}
            GROUP BY "VIN"
        );
        """)
        conn.execute(deduplicate_gd_vins)
        conn.commit()
        
        # Step 2: Perform left joins and create the new table with specified columns
        join_to_new_table = text(f"""
        CREATE TABLE {new_table_name} AS 
        WITH combined_data AS (
            SELECT 
                l."condition", 
                l."drive", 
                l."fuel", 
                l."odometer", 
                l."paint_color", 
                l."title_status", 
                l."transmission", 
                l."type", 
                l."posting_date", 
                l."lat", 
                l."long", 
                l."geo_placename", 
                l."geo_region", 
                l."postingbody", 
                l."title", 
                l."link", 
                v.*, 
                k.price, 
                k.location, 
                k.region_url, 
                r.state, 
                r.state_income, 
                r.region
            FROM {gd_vins} v
            LEFT JOIN {gd_listings} l USING ("VIN")
            LEFT JOIN {gd_links} k USING ("link")
            LEFT JOIN {reg_ref} r ON k."region_url" = r."region_url"
        )
        SELECT * FROM combined_data;
        """)
        conn.execute(join_to_new_table)
        conn.commit()
        
        # Step 3: Move rows left out of joins to bd_listings and bd_links
        # Move rows from gd_listings to bd_listings if they are not in new_table
        move_to_bd_listings = text(f"""
        INSERT INTO {bd_listings}
        SELECT * FROM {gd_listings}
        WHERE "VIN" NOT IN (SELECT "VIN" FROM {new_table_name});
        
        DELETE FROM {gd_listings}
        WHERE "VIN" NOT IN (SELECT "VIN" FROM {new_table_name});
        """)
        conn.execute(move_to_bd_listings)
        conn.commit()
        
        # Move rows from gd_links to bd_links if they are not in new_table
        move_to_bd_links = text(f"""
        INSERT INTO {bd_links}
        SELECT * FROM {gd_links}
        WHERE "link" NOT IN (SELECT "link" FROM {new_table_name});
        
        DELETE FROM {gd_links}
        WHERE "link" NOT IN (SELECT "link" FROM {new_table_name});
        """)
        conn.execute(move_to_bd_links)
        conn.commit()
        
        print(f"Table {new_table_name} created with joined data; rows moved to {bd_listings} and {bd_links} if left out.")

        conn.execute(text(f"""
            ALTER TABLE {new_table_name}
            ADD COLUMN IF NOT EXISTS days_since INTEGER,
            ADD COLUMN IF NOT EXISTS reference_date TEXT;
        """))

        conn.execute(text(f"""
            UPDATE {new_table_name}
            SET 
                days_since = EXTRACT(DAY FROM (posting_date - DATE '2021-01-01')),
                reference_date = '2021-01-01'
            WHERE posting_date IS NOT NULL;
        """))
        conn.commit()        
        
        return pd.read_sql(new_table_name, engine)

In [ ]:
df['days_since']

In [ ]:
f_df1.to_csv('f_df1_2024_22_10.csv')
df_leftovers.to_csv('leftovers_2024_22_10.csv')

In [ ]:
cats = ['ABS',
 'Trim2',
 'ESC',
 'SteeringLocation',
 'BatteryInfo',
 'DaytimeRunningLight',
 'PedestrianAutomaticEmergencyBraking',
 'TransmissionStyle',
 'WheelBaseType',
 'Trim',
 'ChargerLevel',
 'AutomaticPedestrianAlertingSound',
 'TractionControl',
 'AirBagLocFront',
 'Pretensioner',
 'TransmissionSpeeds',
 'AdaptiveDrivingBeam',
 'Model',
 'BlindSpotMon',
 'EntertainmentSystem',
 'BodyCabType',
 'FuelTypeSecondary',
 'LaneDepartureWarning',
 'TPMS',
 'Seats',
 'FuelInjectionType',
 'EDR',
 'LowerBeamHeadlampLightSource',
 'ParkAssist',
 'AirBagLocCurtain',
 'RearAutomaticEmergencyBraking',
 'RearCrossTrafficAlert',
 'SemiautomaticHeadlampBeamSwitching',
 'CIB',
 'AirBagLocSide',
 'BrakeSystemDesc',
 'KeylessIgnition',
 'EngineConfiguration',
 'AirBagLocKnee',
 'RearVisibilitySystem',
 'VehicleType',
 'AdaptiveCruiseControl',
 'AirBagLocSeatCushion',
 'BlindSpotIntervention',
 'ForwardCollisionWarning',
 'SeatRows',
 'BatteryType',
 'LaneKeepSystem',
 'GVWR',
 'ElectrificationLevel',
 'DynamicBrakeSupport',
 'LaneCenteringAssistance',
 'BedType',
 'BrakeSystemType',
 'Series2',
 'CoolingType',
 'Doors',
 'EngineCylinders',
 'CAN_AACN',
 'Turbo',
 'BodyClass',
 'DriveType',
 'ValveTrainDesign',
 'FuelTypePrimary',
 'Make',
 'AutoReverseSystem',
 'EVDriveUnit',
 'Series',
 'SeatBeltsAll',
 'PlantCity',
 'PlantCountry',
 'PlantState',
 'Note',
 'OtherEngineInfo',
 'GVWR_to',
 'EngineModel',
 'DestinationMarket',
 'ActiveSafetySysNote',
 'state',
 'region',
 'condition',
'paint_color']

nums =  ['ModelYear',
 'WheelSizeRear',
 'BasePrice',
 'WheelSizeFront',
 'CurbWeightLB',
 'WheelBaseShort',
 'WheelBaseLong',
 'BatteryPacks',
 'SAEAutomationLevel',
 'odometer',
 'EngineHP',
 'TopSpeedMPH',
 'TrackWidth',
 'ChargerPowerKW',
 'EngineKW',
 'EngineHP_to',
 'BatteryKWh',
 'BedLengthIN',
 'BatteryV',
 'DisplacementCC',
 'Wheels',
 'Windows',
 'days_since',
 'state_income']

In [ ]:
df['posting_date'] = pd.to_datetime(df['posting_date'])
df['posting_date'] - pd.to_timedelta(df['date_posted'], unit='d')

In [ ]:
df['posting_date'].min()

In [ ]:
df['posting_date'] = pd.to_datetime(df['posting_date'])

# Define the reference date
reference_date = pd.to_datetime('2021-01-01')

# Create 'days_since' column by subtracting the reference date from posting_date and converting to days
df['days_since'] = (df['posting_date'] - reference_date).dt.days

In [ ]:
df.date_posted.value_counts(dropna=False)

In [ ]:
def posting_date(df):
    #df['posting_date'] = pd.to_datetime(df['posting_date']).dt.tz_localize(None)
    df['posting_date'] = pd.to_datetime(df['posting_date'], utc=True).dt.tz_localize(None)
    reference_date = pd.to_datetime('2021-01-01')
    df['days_since'] = (df['posting_date'] - reference_date).dt.days
    df['reference_date'] = reference_date
    return df

In [ ]:
df3 = posting_date(df2)

In [ ]:
f_df = posting_date(f_df)

In [ ]:
reference_date = pd.to_datetime('2021-01-01')

In [ ]:
def fill_vehicle_info_and_predict(df, folder):
    # Step 1: Fill in extra information
    df['odometer'] = 100000 
    df['paint_color'] = 'white'
    df['condition'] = 'good'
    df['state_income'] = 59802
    df['state'] = 'tx'
    df['region'] = 'dallas / fort worth'

    
    
    models = os.listdir(folder)    
    model_dates = []

    # Step 3: Run predictions with each model
    predicted_prices = []
    for model in models:
        cbm = CatBoostRegressor()
        cbm.load_model(model)  # Assume you have a function to load your model
        y_pred = cbm.predict(df[cats + nums])  # Replace 'cats' and 'nums' with your actual feature lists
        predicted_prices.append(y_pred)  # Append the first prediction
        
        model_dates.append(remove_prefix_suffix(model, prefix='cb_model_', suffix='.cbm'))

    # Step 4: Plot the results
    plt.figure(figsize=(10, 5))
    plt.plot(model_dates, predicted_prices, marker='o')
    plt.title('Predicted Prices Over Time: ' + df['Make'] +' ' + df['Model'] + ' ' + df['DisplacementCC'].astype(str))
    plt.xlabel('Model Date')
    plt.ylabel('Predicted Price')
    plt.xticks(rotation=45)
    plt.grid()
    plt.tight_layout()
    plt.show()


model_folder = 'cb_models'
row = df.loc[100]
fill_vehicle_info_and_predict(row, model_folder)

In [ ]:
def remove_prefix_suffix(filename, prefix='cb_model_', suffix='.cbm'):
    return filename[len(prefix):-len(suffix)]

In [ ]:
os.listdir(folder)

In [ ]:
model_folder
model_files = [f for f in os.listdir(model_folder) if f.startswith('cb_model_')]
model_dates = sorted([f.split('_')[2] for f in model_files])  # Extract dates
model_dates = [f'cb_model_{date}' for date in model_dates]  # Add prefix back
model_dates

In [ ]:
os.path.join(os.getcwd(), 'cb_models')

In [ ]:
get_ordered_model_dates(os.path.join(os.getcwd(), 'cb_models'))

In [ ]:
#folder = os.path.join(os.getcwd(), 'cb_models')
#folder
get_ordered_model_dates(folder)

In [ ]:
os.listdir(folder)

In [ ]:
filename = folder + '\\cb_model_2024_10_29.cbm'

In [ ]:
def get_ordered_model_dates(folder_path, prefix='cb_model_', suffix='.cbm'):
    date_suffixes = []

    for filename in os.listdir(folder_path):
        # Check if the filename starts with the prefix and ends with the suffix
        if filename.startswith(prefix) and filename.endswith(suffix):
            date_str = filename[len(prefix):-len(suffix)]  # Extract the date part
            print(date_str)  # Optional: Print the extracted date string
            try:
                date_obj = datetime.strptime(date_str, '%Y_%m_%d')  # Convert to datetime object
                date_suffixes.append(date_obj)  # Append to the list
            except ValueError:
                print(f"Date format error in filename: {filename}")  # Handle date format errors
                
    ordered_dates = sorted(date_suffixes)  # Sort the dates
    
    # Return the sorted dates in the original string format
    return [date.strftime('%Y_%m_%d') for date in ordered_dates]

In [ ]:
cbm.predict(df.loc[100][cats+nums])#, cat_features=cats)

In [ ]:
df.loc[100]

In [ ]:
#df = pd.read_sql('car_data', engine)
df = model_prep(df)

In [ ]:
df['reference_date'] = reference_date

In [ ]:
#df = df2.copy()

df['reference_date'] = df['posting_date'] - pd.to_timedelta(df['date_posted'], unit='d')
df['reference_date']