In [46]:
from flask import Flask, request, render_template, redirect, url_for, jsonify
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from catboost import CatBoostRegressor
import io
import base64
import requests
import random
from sqlalchemy import create_engine, text, inspect
import os 
from dotenv import load_dotenv

def find_similar_vehicles(row, df2, initial_threshold=0, increment=100, max_threshold=1000, n_veh=10):
    # Normalize column names to lowercase
    df2.columns = df2.columns.str.lower()
    
    if isinstance(row, pd.DataFrame):
        row = model_prep(row)
        df1 = row.iloc[0]  # Ensure single row
    elif isinstance(row, pd.Series):
        df1 = row
    else:
        print('row is not series or dataframe')
        print(row)
        return pd.DataFrame()  # Return empty DataFrame in case of error

    # Ensure df1 column names are also lowercase
    df1 = df1.rename(str.lower)

    # Check if displacementcc in df1 is null
    if pd.isna(df1['displacementcc']):
        return find_similar_vehicles_no_threshold(df1, df2, n_veh)
    else:
        return find_similar_vehicles_with_threshold(df1, df2, initial_threshold, increment, max_threshold, n_veh)

def find_similar_vehicles_with_threshold(df1, df2, initial_threshold, increment, max_threshold, n_veh):
    threshold = initial_threshold
    similar_vehicles = pd.DataFrame()

    while len(similar_vehicles) < n_veh and threshold <= max_threshold:
        similar_vehicles = df2[
            (df2['vehicletype'] == df1['vehicletype']) &
            (df2['drivetype'] == df1['drivetype']) &
            (df2['gvwr'] == df1['gvwr']) &
            (df2['bodyclass'] == df1['bodyclass']) &
            (df2['enginecylinders'] == df1['enginecylinders']) &
            (abs(df2['modelyear'] - df1['modelyear']) <= threshold/100) &
            (abs(df2['displacementcc'] - df1['displacementcc']) < threshold) & 
            ((df2['make'] + '_' + df2['model']) != (df1['make'] + '_' + df1['model']))
        ]
        
        similar_vehicles = similar_vehicles.drop_duplicates(subset=['make', 'model'])

        if len(similar_vehicles) < n_veh:
            threshold += increment

    # Add extra columns
    similar_vehicles['condition'] = df1['condition']
    similar_vehicles['state'] = df1['state']
    similar_vehicles['region'] = df1['region']
    similar_vehicles['state_income'] = df1['state_income']   
    return similar_vehicles.reset_index(drop=True)

def find_similar_vehicles_no_threshold(df1, df2, n_veh, max_threshold=5):
    similar_vehicles = pd.DataFrame()
    threshold = 1  # Start with a threshold of 1 year

    while len(similar_vehicles) < n_veh and threshold <= max_threshold:
        similar_vehicles = df2[
            (df2['vehicletype'] == df1['vehicletype']) &
            (df2['drivetype'] == df1['drivetype']) &
            (df2['gvwr'] == df1['gvwr']) &
            (df2['bodyclass'] == df1['bodyclass']) &
            (df2['enginecylinders'] == df1['enginecylinders']) &
            (abs(df2['modelyear'] - df1['modelyear']) <= threshold) &  # Allowing for modelyear leeway
            (df2['displacementcc'].isna()) &  # Only looking for rows where displacementCC is null
            ((df2['make'] + '_' + df2['model']) != (df1['make'] + '_' + df1['model']))
        ]

        threshold += 1  # Increment the threshold by 1 year for the next iteration

    # If still less than n_veh after 5 years, you can return what you found or handle as needed
    if len(similar_vehicles) < n_veh:
        print(f"Found {len(similar_vehicles)} similar vehicles, which is less than the requested {n_veh}.")

    # Adding extra columns to the resulting DataFrame
    similar_vehicles['condition'] = df1['condition']
    similar_vehicles['state'] = df1['state']
    similar_vehicles['region'] = df1['region']
    similar_vehicles['state_income'] = df1['state_income']   

    return similar_vehicles.reset_index(drop=True)

In [37]:
similar_vehicles = df2[
(df2['vehicletype'] == df1['vehicletype']) &
(df2['drivetype'] == df1['drivetype']) &
(df2['gvwr'] == df1['gvwr']) &
(df2['bodyclass'] == df1['bodyclass']) &
(df2['enginecylinders'] == df1['enginecylinders']) &
(abs(df2['modelyear'] - df1['modelyear']) <= 2) &  # Allowing for modelyear leeway
(abs(df2['displacementcc'] - df1['displacementcc']) < 500) & 
((df2['make'] + '_' + df2['model']) != (df1['make'] + '_' + df1['model']))
]
similar_vehicles

,car_id,price,odometer,modelyear,state_income,days_since,trackwidth,baseprice,batterykwh,displacementcc,...,type,title_status,transmission,fuel,region_url,geo_placename,vin,reference_date,date_scraped,posting_date
27959,28344,16999,32164,2020,60167,1398,NaN,16600.0,NaN,2000.0,...,coupe,clean,automatic,gas,https://lasvegas.craigslist.org,Las Vegas,KMHTG6AF2LU03196,2021-01-01,2024-10-31,2024-10-30
31055,31443,16495,89250,2020,59802,1400,NaN,16600.0,NaN,2000.0,...,hatchback,clean,automatic,other,https://elpaso.craigslist.org,El Paso,KMHTG6AF0LU02317,2021-01-01,2024-11-02,2024-11-01
41903,42271,18445,60758,2020,61449,1405,NaN,21150.0,NaN,1600.0,...,other,clean,other,gas,https://portland.craigslist.org,Beaverton,KMHTH6AB5LU03032,2021-01-01,2024-11-07,2024-11-06
118503,119405,16587,43376,2020,62136,1414,NaN,16600.0,NaN,2000.0,...,hatchback,clean,automatic,gas,https://panamacity.craigslist.org,Panama City,KMHTG6AF8LU030435,2021-01-01,2024-11-16,2024-11-15
128816,132095,16999,32164,2020,60167,1417,NaN,16600.0,NaN,2000.0,...,coupe,clean,automatic,gas,https://lasvegas.craigslist.org,Las Vegas,KMHTG6AF2LU031967,2021-01-01,2024-11-19,2024-11-18

In [35]:
similar_vehicles

Empty DataFrame
Columns: [car_id, price, odometer, modelyear, state_income, days_since, trackwidth, baseprice, batterykwh, displacementcc, enginehp, enginehp_to, enginekw, wheelbaselong, wheelbaseshort, seats, seatrows, transmissionspeeds, enginecylinders, batterypacks, batteryv, bedlengthin, chargerpowerkw, curbweightlb, saeautomationlevel, topspeedmph, wheelsizefront, wheelsizerear, wheels, windows, doors, dynamicbrakesupport, edr, esc, evdriveunit, electrificationlevel, engineconfiguration, valvetraindesign, vehicletype, state, enginemodel, entertainmentsystem, forwardcollisionwarning, fuelinjectiontype, fueltypeprimary, fueltypesecondary, region, wheelbasetype, gvwr, gvwr_to, keylessignition, lanecenteringassistance, lanedeparturewarning, lanekeepsystem, lowerbeamheadlamplightsource, make, model, condition, paint_color, note, otherengineinfo, parkassist, pedestrianautomaticemergencybraking, plantcity, plantcountry, plantstate, pretensioner, rearautomaticemergencybraking, rearcrosstrafficalert, rearvisibilitysystem, abs, activesafetysysnote, adaptivecruisecontrol, adaptivedrivingbeam, airbagloccurtain, airbaglocfront, airbaglocknee, airbaglocseatcushion, airbaglocside, autoreversesystem, automaticpedestrianalertingsound, seatbeltsall, semiautomaticheadlampbeamswitching, series, batteryinfo, series2, steeringlocation, tpms, batterytype, tractioncontrol, bedtype, blindspotintervention, blindspotmon, bodycabtype, bodyclass, brakesystemdesc, brakesystemtype, can_aacn, cib, chargerlevel, ...]
Index: []

[0 rows x 122 columns]

In [52]:
sim_v[['make', 'model', 'modelyear']]

         make               model  modelyear
0        FORD                Edge       2022
1         BMW                  X3       2022
2  ALFA ROMEO             Stelvio       2022
3       VOLVO                XC60       2022
4    CADILLAC                 XT4       2022
5        AUDI                  Q3       2022
6  LAND ROVER  Range Rover Evoque       2022
7     PORSCHE               Macan       2022
8  LAND ROVER   Range Rover Velar       2022
9     LINCOLN            Nautilus       2022

In [12]:
engine = create_engine(f'postgresql+psycopg2://postgres:kylemanjaro420!!@localhost:5432/cars')
with engine.connect() as conn:
    df = pd.read_sql('all_cars', conn)

In [44]:
df1 = df2.loc[1099]

In [48]:
sim_v = find_similar_vehicles(df1, df2, initial_threshold=1, increment=100, max_threshold=500, n_veh=5)

In [ ]:
find_similar_vehicles_no_threshold

In [54]:
df2[df2.car_id == 1500].index

Int64Index([1099], dtype='int64')